<ion-view view-title="Búsqueda" cache-view="true">

  <style type="text/css">
    /*Nota: no borrar clases aunque parezca que sobran*/
    /*noinspection CssUnknownTarget*/
    .img-cam {height: 64px !important; width: 72px !important; top: 6px !important;
      background: transparent url('img/clock-32x32-3.png') no-repeat center center}
    .item-thumbnail-left {min-height: 0; padding-left: 90px; padding-top: 18px}
    .clear-search {z-index: 3; position: absolute; right: 0; min-height: 20px; background: white; margin-top: 1px}
    .footer {color: grey; text-align: center; font-size: small}
    .cam-counter-right {background: #11c1f3; display: block; width: 25px; text-align: center;
      padding: 1px; margin: auto 12px; border-radius: 3px}
    #inputBuscaCam {color: dodgerblue; padding-bottom: 5px; padding-left: 8px}
    @media (min-width: 720px) {
      #listado-container{width: 80%; margin: 32px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}
      #contenido-listado{background-color:ghostwhite}
      .clear-search {z-index: 3; position: absolute; right: 10%; min-height: 20px; background: white; margin-top: 1px}
    }
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button ng-if="screenWidth < 760" menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button ng-click="toggleShowImages()" class="button button-icon button-clear ion-images"
        title="Imágenes sí/no"></button>
      <div class="cam-counter-right">{{ camsEncontradas.length }}</div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content id="contenido-listado">
    <div id="listado-container">

      <!-- Búsqueda -->
      <button ng-click="resetBusqueda()" class="button icon ion-android-close clear-search"></button>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="inputBuscaCam" type="text" placeholder="Buscar webcams..."
          ng-model="busqueda.lugar" ng-change="buscaCam(busqueda.lugar)">
      </label>
      <!-- /Búsqueda -->

      <!-- Item cam -->
      <a class="item item-icon-right" ng-class="{'item-thumbnail-left': showImages}"
        ng-repeat="cam in camsEncontradas track by cam[4]" href="#/app/detalle/{{ camsEncontradas[$index][4] }}">
        <img ng-if="showImages" class="img-cam" ng-src="{{ cam[2] }}" fallback-src="img/imgFail.png"/>
        <div>
          <p><span><b>&bullet;</b> {{ cam[0] }}</span></p>
          <p><span><b>&bullet;</b> Concejo: {{ cam[1] }}</span></p>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
        <!-- DEBUG INFO -->
        <!--<p>Categoría: {{cam[3]}}</p> <p>indice: {{$index}}</p> <p>ROWID: {{cam[4]}}</p>-->
        <!-- /DEBUG INFO -->
      </a>
      <!-- /Item cam -->

    </div>
    <br/>
    <div class="footer">Buscar por el nombre del lugar como "La Griega" o por el nombre de concejo como "Llanes"</div>
    <br/>
  </ion-content>
</ion-view>
