<ion-view view-title="{{ ::cam.lugar }}">

  <style type="text/css">
    #scroll-container {margin-top: 45px; width: 100%; height: 100%; text-align: center; overflow:hidden}
    #scroll-container > img {width: 35px; vertical-align: middle}
    ion-header-bar > div > img {width: 35px; vertical-align: middle}
    #img-meteoblue {cursor: move}
    @media (min-width: 720px) {#img-meteoblue {width: 75%; display: block; margin: auto; padding-bottom: 40px} }
    #img-footer {padding: 20px}
  </style>

  <ion-nav-bar>
    <ion-header-bar class="bar-calm" align-title="center">
      <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    </ion-header-bar>
  </ion-nav-bar>

  <div id="img-meteoblue-loader" class="spinner-circle-container">
    <div class="spinner-circle"></div>
  </div>

  <ion-scroll id="scroll-container" zooming="true" direction="xy" locking="false" overflow-scroll="false">
    <img id="img-meteoblue" ng-src="{{ ::urlMeteoblue }}" fallback-src="img/imgFail.png"
      imageonload="removeDomElementById('img-meteoblue-loader')"/>
    <div id="img-footer">Concejo: {{ ::cam.concejo }}</div>
  </ion-scroll>

</ion-view>
