<!--TODO: poner un boton para refrescar la pagina-->
<!--TODO: poner advertencia: si no ser carga la imagen probar a recargar la pagina-->
<!--TODO: lazy loading de imagenes-->
<!--TODO: cambiar los iconos bullet-list del texto del detalle-->
<!--TODO: desactivar botones siguiente anterior al llegar al final del listado-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detalles</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <style>
      .card {
        padding-top: 1px;
        padding-bottom: 1px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        margin-right:4%;
        margin-left:4%;
      }
      .modal{ /* full screen */
        top: 0 ;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        width: 100% ;
      }
      /*.slider {*/
        /*height: 100%;*/
      /*}*/
    </style>

    <div>
    <ion-slide-box show-pager="false">
      <ion-slide ng-repeat="cam in items">
        <div class="list card">
          <div class="item item-image" style="height:100%; width:100%">
            <!--<img ng-src="http://api.randomuser.me/portraits/thumb/men/{{$index}}.jpg">-->
            <!--<img ng-src="../img/ionic.png">-->
            <!--<img ng-src="{{cam[2]}}">-->
            <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
            <img ng-src="http://loremflickr.com/500/500?random={{$index+1}}">
          </div>

          <div class="item item-body">
            <p>
              <i class="icon ion-android-locate"></i>
              <b>Lugar: </b>{{ cam[0] }}
            </p>
            <p>
              <i class="icon ion-android-locate"></i>
              <b>Concejo: </b>{{ cam[1] }}
            </p>
              <!--<p>-->
                <!--<i class="icon ion-android-locate"></i>-->
                <!--<b>Categoría: </b>{{ cam[3] }}-->
              <!--</p>-->

<!--
            <md-button class="md-raised md-primary" ng-click="prevSlide()">
              <i class="icon ion-chevron-left"></i>
              Anterior
            </md-button>

            <md-button class="md-raised md-primary" ng-click="">
              <i class="icon ion-ios-reload"></i>
              Recargar
            </md-button>
            <md-button class="md-raised md-primary" ng-click="nextSlide()">
              <i class="icon ion-chevron-right"></i>
              Siguiente
            </md-button>
-->

          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>

          </div>

          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" ng-click="prevSlide()">
              <i class="icon ion-chevron-left"></i>
              Anterior
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-ios-reload" ng-click="reload()"></i>
              Recargar
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chevron-right" ng-click="nextSlide()"></i>
              Siguiente
            </a>
          </div>


          <div class="item tabs tabs-secondary tabs-icon-left">
            <button class="button button-positive icon-left ion-chevron-left" ng-click="prevSlide()"></button>
            <button class="button button-positive" ng-click="">Recargar</button>
            <button class="button button-positive icon-right ion-chevron-right" ng-click="nextSlide()"></button>
          </div>

        </div><!-- card -->


        <div class="card">
          <div class="item item-divider">
            Información Meteorológica
          </div>
          <div class="item item-text-wrap">
            Igual conviene poner aquí pestañas que se cargen asíncronamente con la información de abajo para no recargar
            el slide box con demasiados elementos. Probar a ver si hay pestañas asíncronas en angular material o buscar
            alguna directiva. También directivas de ionic con pestañas asíncronas, casi mejor primero.<br>También estoy
            viendo que existe la posiblidad de cargar el mapa en diferido con lazy loading. Probar a ver.
            - Añadir boton "ver en mapa"
            - Añadir botón/link "ver en street view
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Mapa
          </div>
          <div class="item item-text-wrap">
            Decidir si incluir aquí el mapa o hacer un estado nuevo con una página nueva. Creo que va a ser mejor eso
            así se reutilizaría el mapa para cada lugar y sería más eficiente. No se cargarían un mapa para cada slide
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Información del Lugar
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Información de Google Places o Enlace. Puede que esté bien poner la información de google places en el mismo
            sitio que el mapa local de la cámara
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>


      </ion-slide>
    </ion-slide-box>
    </div>

<!--
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <i class="icon ion-chevron-right"></i>
    </md-button>
-->

  </ion-content>
</ion-modal-view>
