<!--TODO: poner un boton para refrescar la pagina-->
<!--TODO: poner advertencia: si no ser carga la imagen probar a recargar la pagina-->
<!--TODO: lazy loading de imagenes-->
<!--TODO: cambiar los iconos bullet-list del texto del detalle-->
<!--TODO: desactivar botones siguiente anterior al llegar al final del listado-->
<!--TODO: pasar todos los nombres de dominio a IPs para optimizar tiempos de carga-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detalles</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content delegate-handle="modalDetalle">
    <style>
      .card {
        padding-top: 1px;
        padding-bottom: 1px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        margin-right:4%;
        margin-left:4%;
      }
      .modal{ /* full screen */
        top: 0 ;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        width: 100% ;
      }
      /*.slider {*/
        /*height: 100%;*/
      /*}*/
    </style>

    <div>
    <ion-slide-box show-pager="false">
      <ion-slide ng-repeat="cam in items">
        <div class="list card">
          <div class="item item-image" style="height:100%; width:100%">
            <!--<img ng-src="http://api.randomuser.me/portraits/thumb/men/{{$index}}.jpg">-->
            <!--<img ng-src="../img/ionic.png">-->
            <!--<img ng-src="{{cam[2]}}">-->
            <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
            <img ng-src="http://loremflickr.com/500/500?random={{$index+1}}">
          </div>

          <div class="item item-body">
            <p>
              <i class="icon ion-android-locate"></i>
              <b>Lugar: </b>{{ cam[0] }}
            </p>
            <p>
              <i class="icon ion-android-locate"></i>
              <b>Concejo: </b>{{ cam[1] }}
            </p>

<!--
            <md-button class="md-raised md-primary" ng-click="prevSlide()">
              <i class="icon ion-chevron-left"></i>
              Anterior
            </md-button>

            <md-button class="md-raised md-primary" ng-click="">
              <i class="icon ion-ios-reload"></i>
              Recargar
            </md-button>
            <md-button class="md-raised md-primary" ng-click="nextSlide()">
              <i class="icon ion-chevron-right"></i>
              Siguiente
            </md-button>
-->

          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>

          </div>

          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
          <!-------------------------------------------------------------------------------------------------------->
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" ng-click="prevSlide()">
              <i class="icon ion-chevron-left"></i>
              Anterior
            </a>
            <a class="tab-item" href="#" ng-click="recargar()">
              <i class="icon ion-ios-reload"></i>
              Recargar
            </a>
            <a class="tab-item" href="#" ng-click="nextSlide()">
              <i class="icon ion-chevron-right"></i>
              Siguiente
            </a>
          </div>


          <div class="item tabs tabs-secondary tabs-icon-left">
            <button class="button button-positive icon-left ion-chevron-left" ng-click="prevSlide()">Anterior</button>
            <button class="button button-positive" ng-click="">Recargar</button>
            <button class="button button-positive icon-right ion-chevron-right" ng-click="nextSlide()">Siguiente</button>
          </div>

        </div>


<!--
        <div class="card">
          <div class="item item-divider">
            Encabezamiento
          </div>
          <div class="item item-text-wrap">
            - Ver Mapa<br>
            - Ver fotos<br>
            - Información meteorológica<br>
            - Street View<br>
            - Información del lugar<br>
            - Buscar en Google Places<br>
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>
-->

        <!-- fin card ------------------------------------------------------------------------------------------------>



        <!-- Street View --------------------------------------------------------------------------------------------->
<!--
        <style>
          .animate-if {
            background:white;
            border:1px solid black;
            padding:10px;
          }

          .animate-if.ng-enter, .animate-if.ng-leave {
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
          }

          .animate-if.ng-enter,
          .animate-if.ng-leave.ng-leave-active {
            opacity:0;
          }

          .animate-if.ng-leave,
          .animate-if.ng-enter.ng-enter-active {
            opacity:1;
          }

        </style>
        <div>itemIndex: {{itemIndex}}</div>
        <button ng-click="clickme()">Click me</button><br>
        <div id="cam[4]" ng-if="checked" class="animate-if">
          <iframe src="templates/streetview.html" style="border: 0; width:100%; height:300px;"></iframe>
        </div>
-->
        <!-- Fin StreetView ------------------------------------------------------------------------------------------>
        <div class="list list-inset">
          <a href="#" class="item item-stable item-icon-right item-icon-right">
            <i class="icon ion-email"></i>
            Ver en Mapa
            <i class="icon ion-email"></i>
          </a>
          <div class="item item-stable">
            Ver en Street View
          </div>
          <div class="item item-stable">
            Buscar en Alrededores
          </div>
          <div class="item item-stable">
            Ver fotos
          </div>
          <div class="item item-stable">
            Información Meteorológica
          </div>
        </div>
        <!-------------------------------------------------------------------------------------------------->
<!--
        <div class="list card">
          <a href="#" class="item item-stable item-icon-left">
            <i class="icon ion-home"></i>
            Ver en Mapa
          </a>
          <a href="#" class="item item-stable item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            Ver en Street View
          </a>
          <a href="#" class="item item-stable item-icon-left">
            <i class="icon ion-wifi"></i>
            Buscar en Alrededores
          </a>
          <a href="#" class="item item-stable item-icon-left">
            <i class="icon ion-card"></i>
            Ver Fotos
          </a>
          <a href="#" class="item item-stable item-icon-left">
            <i class="icon ion-card"></i>
            Información Meteorológica
          </a>
        </div>
-->


      </ion-slide>
    </ion-slide-box>
    </div>

<!--
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <i class="icon ion-chevron-right"></i>
    </md-button>
-->

  </ion-content>
</ion-modal-view>
