<!--TODO: poner un boton para refrescar la pagina-->
<!--TODO: poner advertencia: si no ser carga la imagen probar a recargar la pagina-->
<!--TODO: lazy loading de imagenes-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detalles</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <style>
      .card {
        padding-top: 1px;
        padding-bottom: 1px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        margin-right:4%;
        margin-left:4%;
      }
      .modal{ /* full screen */
        top: 0 ;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        width: 100% ;
      }
      /*.slider {*/
        /*height: 100%;*/
      /*}*/
    </style>

    <ion-slide-box show-pager="false" active-slide="itemIndex">
      <ion-slide ng-repeat="cam in items">
        <div class="list card">
          <div class="item item-image" style="height:100%; width:100%">
            <!--<img ng-src="http://api.randomuser.me/portraits/thumb/men/{{$index}}.jpg">-->
            <!--<img ng-src="../img/ionic.png">-->
            <!--<img ng-src="{{cam[2]}}">-->
            <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
            <img ng-src="http://loremflickr.com/500/500?random={{$index+1}}">
          </div>

          <div class="item item-body">
            <div class="button-bar">
              <a class="button button-positive icon-left ion-chevron-left" ng-click="prevSlide()">Anterior</a>
              <a class="button button-positive" ng-click="">Recargar</a>
              <a class="button button-positive icon-right ion-chevron-right" ng-click="nextSlide()">Siguiente</a>
            </div>

          <p>
            <i class="icon ion-android-locate"></i>
            <b>Lugar: </b>{{ cam[0] }}
          </p>
          <p>
            <i class="icon ion-android-locate"></i>
            <b>Concejo: </b>{{ cam[1] }}
          </p>
<!--
          <p>
            <i class="icon ion-android-locate"></i>
            <b>Categoría: </b>{{ cam[3] }}
          </p>
-->
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>



  </ion-content>
</ion-modal-view>
