<!--TODO: pasar todos los nombres de dominio a IPs para optimizar tiempos de carga-->
<!--TODO: poner url de wikipedia en la pestaña de información-->
<ion-view view-title="Detalles">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)">
    </button>
  </ion-nav-buttons>

  <ion-content class="animated fadeIn">
    <style>
      .card {
        padding-top: 1px;
        padding-bottom: 1px;
        /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);*/
        margin-right:4%;
        margin-left:4%;
      }
      .modal{ /* full screen */
        top: 0 ;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        width: 100% ;
      }
      .tabs-color-positive,
      .tabs-color-positive,
      .tabs-color-positive{
        border-bottom: 1px solid;
      }
      .imgLoader{
        background: transparent url(img/c.png) no-repeat center center;
      }
    </style>
    <!-- Card ------------------------------------------------------------------------------------------------------>
    <div class="list card">
      <div class="item item-image" style="height:100%; width:100%">
        <img ng-src="{{ cam.imagen }}" fallback-src="img/imgFail.png" class="imgLoader"
             imageonload="imgLoaded()" on-touch="showModal()"/>
      </div>
      <div class="item item-body" style="font-size:small;padding-top:8px;padding-bottom:8px;text-align:center">
        {{ ::cam.lugar }}<br>
      </div>
      <div class="item item-body" style="font-size: small">
          <i class="icon ion-ios-checkmark-outline" style="color:#387ef5;font-size:medium;"></i>
          Concejo: {{ ::cam.concejo }}<br>
          <i class="icon ion-ios-checkmark-outline" style="color:#387ef5;font-size:medium;"></i>
          Categoría: {{ ::cam.categoria }}
      </div>
      <!-- botones ------------------------------------------------------------------------------------------------->
      <div class="item item-text-wrap" style="padding:0;text-align:center">
        <div class="row">
          <div class="col">
            <button class="button button-calm" ng-click="showModal()" style="width:100%">
              <i class="icon ion-arrow-expand"></i>
              Ampliar
            </button>
          </div>
          <div class="col">
            <button class="button button-calm" ng-click="reloadImg()" style="width:100%">
              <i class="icon ion-refresh"></i>
              Recargar
            </button>
          </div>
        </div>
      </div>
      <!-- fin botones --------------------------------------------------------------------------------------------->

    </div>
    <!-- Fin Card -------------------------------------------------------------------------------------------------->

    <!-- Card ------------------------------------------------------------------------------------------------------>
    <div class="card">

      <div class="item item-divider tabs tabs-icon-left tabs-color-positive">
        <a class="tab-item" ng-click="page='first'" ng-class="{active:page === 'first'}" style="font-size:small">
          <i class="icon ion-ios-partlysunny"></i>
          Meteorología
        </a>
        <a class="tab-item" ng-click="page='second';getInfo()" ng-class="{active:page === 'second'}" style="font-size:small">
          <i class="icon ion-document-text"></i>
          Información
        </a>
      </div>

      <div ng-init="page='first'"></div>

      <div class="item" ng-show="page === 'first'">
        <div style="font-size:smaller">
          <table>
            <tr>
              <td><img ng-src="{{::iconoUrl}}"/></td>
              <td style="padding-left:15px;vertical-align: middle;padding-bottom:10px;">
                Estado actual: {{::descripcion}}
              </td>
            </tr>
          </table>
          &#187; Temperatura: {{::temp}} ºC<br>
          &#187; Presión atmosférica: {{::presion}} HPa<br>
          &#187; Humedad relativa: {{::humedad}} %<br>
          &#187; Nubosidad: {{::nubosidad}} %<br>
          &#187; Velocidad del viento: {{::velocidadViento}} m/s<br>
          &#187; Dirección del viento: {{::direccionViento}}º<br>
          <br>Fuente: <a href="http://www.openweathermap.com" target="_blank">OpenWeatherMap.com</a>
        </div>
      </div>
      <div class="item-body" style="width: 100%; overflow-y: scroll; height: 300px;"
           ng-class="{active:active}" ng-show="page === 'second'">
        <div>
          {{ infoConcejo }}
        </div>
        <div ng-bind-html="wikipediaCredits"></div>
      </div>
    </div>
    <!-- Fin Card--------------------------------------------------------------------------------------------------->

    <div id="void" style="display:block"><br><br></div>

  </ion-content>
</ion-view>
