<!--todo: posibilidad de usar la directiva awesome-slider en lugar del range slider de ionic-->
<!--todo: menu superior derecho con icono de interrogacion para ayuda. Interaccion con las imágenes-->
<!--suppress HtmlUnknownTarget -->
<ion-view view-title="{{ ::itemMeteo.nombre }}" xmlns:rel="http://www.w3.org/1999/xhtml">
  <style>
    div.jsgif > canvas{width:100%}
    div.jsgif {width:100%; top: -3px}
    .btn-transparent {background-color:transparent}
    .btn-zoom {padding-bottom: 0; padding-top: 10px}
    .range-zoom {vertical-align: middle; padding-bottom:0}
    .light-gray{color: lightgray}
    .green{color: green}
    .small-font{font-size: small}
    .range-frames{padding: 0 3%}
    .ico-btn-zoom{font-size: x-large}
    #playControls > tbody > tr > td > a > i {font-size: 35px}
    #zoomControls > tbody > tr > td > a > i {font-size: 30px}
    #cancelLinkContainer{padding-top: 20px} /* no borrar */
    #cancelLink{text-decoration: none; color: grey}
    table {margin: 0 auto}
    .red {color: red}
    .info-fotogramas{width: 100%; text-align:center; padding: 10px}
    .font-32 {font-size: 32px}
    @media (min-width: 720px) { .card{width: 80%; margin: 32px auto} }
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <!-- gif image ------------------------------------------------------------------------------------------------- -->
    <img id="gif" src="img/loader/6.gif" rel:animated_src="{{ image_data }}"
      rel:auto_play="0" rel:fps="700" ng-click="playPause()" width="100%"/>
    <!-- /gif image ------------------------------------------------------------------------------------------------ -->

    <div class="card">
      <!-- range slider frames ------------------------------------------------------------------------------------- -->
      <label class="range range-assertive range-frames" ng-click="pause()" on-touch="pause()">
        <input id="levelRange" type="range" min="0" max="{{ totalFrames - 1 }}"
             value="{{ currentFrame }}" ng-model="currentFrame" ng-change="irPosicion(currentFrame)"
             style="margin:0"/>
      </label>
      <!-- play controls-------------------------------------------------------------------------------------------- -->
      <div class="centered">
        <span>
          <a class="button font-32" ng-click="playPause()" ng-class="{'button-positive': isGifPlaying}" title="Play/Pause">
            <i ng-if="isGifPlaying" class="ion-ios-pause"></i>
            <i ng-if=" ! isGifPlaying" class="ion-ios-play-outline"></i>
          </a>
        </span>
          <span>
          <a class="button font-32" ng-click="restart()"><i class="ion-ios-skipbackward-outline" title="Restart"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="backward()" title="Backward"><i class="ion-ios-rewind-outline"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="forward()" title="Foreward"><i class="ion-ios-fastforward-outline"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="end()" title="End"><i class="ion-ios-skipforward-outline"></i></a>
        </span>
      </div>
      <!-- info frames --------------------------------------------------------------------------------------------- -->
      <div class="info-fotogramas">
        Fotograma: <b class="red">{{ gifAnimado.get_current_frame() + 1 }}</b> de {{ ::totalFrames }}
      </div>
      <!-- /info frames -------------------------------------------------------------------------------------------- -->
    </div>

    <!-- zoom controls --------------------------------------------------------------------------------------------- -->
    <div class="card">
      <table id="zoomControls">
        <tr>
          <td class="btn-zoom">
            <a class="button btn-transparent zoom-out"><i class="ion-ios-minus-outline ico-btn-zoom"></i></a>
          </td>
          <td class="btn-zoom">
            <a class="button btn-transparent zoom-in"><i class="ion-ios-plus-outline ico-btn-zoomº"></i></a>
          </td>
          <td class="range-zoom">
            <label class="range range-assertive">
              <input type="range" class="zoom-range" min="1" max="4" step="0.1"/>
            </label>
          </td>
          <td class="btn-zoom">
            <a class="button btn-transparent reset"><i class="ion-arrow-expand light-gray"></i></a>
          </td>
        </tr>
      </table>
    </div>
    <!-- /card zoom controls --------------------------------------------------------------------------------------- -->

    <!-- card detalles --------------------------------------------------------------------------------------------- -->
    <div class="card">
      <div class="item item-divider small-font">Información:</div>
      <div class="item item-text-wrap small-font">
        <div><span class="green">&bullet; Categoría:</span> {{ ::itemMeteo.categoria }}</div>
        <div>
          <span class="green">&bullet; Fuente:</span>
          <a ng-href="{{ ::itemMeteo.urlFuente }}" target="_blank">{{ ::itemMeteo.fuente }}</a>
        </div>
        <div><span class="green">&bullet; Detalles:</span> {{ ::itemMeteo.descripcion }}</div>
      </div>
    </div>
     <!-- /card detalles ------------------------------------------------------------------------------------------- -->

  </ion-content>
</ion-view>
