<!--todo: posibilidad de usar la directiva awesome-slider en lugar del range slider de ionic-->
<!--todo: menu superior derecho con icono de interrogacion para ayuda. Interaccion con las imágenes-->
<!--suppress HtmlUnknownTarget -->
<ion-view view-title="{{ ::itemMeteo.nombre }}" xmlns:rel="http://www.w3.org/1999/xhtml">
  <style>
    div.jsgif > canvas{width:100%}
    div.jsgif {width:100%; top: -3px}
    .btn-zoom {background-color:transparent; vertical-align: inherit}
    .light-gray {color: lightgray}
    .small-font {font-size: small}
    .range-label {display: inline-block; padding: 0}
    .range-frames {padding: 0 3%}
    #cancelLinkContainer {padding-top: 20px} /* no borrar */
    #cancelLink {text-decoration: none; color: grey}
    .red {color: red}
    .info-fotogramas {width: 100%; text-align:center; padding: 10px}
    .font-32 {font-size: 32px}
    @media (min-width: 720px) { .card{width: 80%; margin: 32px auto} }
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <!-- gif image ------------------------------------------------------------------------------------------------- -->
    <img id="gif" src="img/loader/6.gif" rel:animated_src="{{ image_data }}"
      rel:auto_play="0" rel:fps="700" ng-click="playPause()" width="100%"/>
    <!-- /gif image ------------------------------------------------------------------------------------------------ -->

    <div class="card">
      <!-- range slider -------------------------------------------------------------------------------------------- -->
      <label class="range range-assertive range-frames" ng-click="pause()" on-touch="pause()">
        <input id="levelRange" type="range" min="0" max="{{ totalFrames - 1 }}"
             value="{{ currentFrame }}" ng-model="currentFrame" ng-change="irPosicion(currentFrame)"
             style="margin:0"/>
      </label>
      <!-- play controls-------------------------------------------------------------------------------------------- -->
      <div class="centered">
        <span>
          <a class="button font-32" ng-click="playPause()" ng-class="{'button-positive': isGifPlaying}" title="Play/Pause">
            <i ng-if="isGifPlaying" class="ion-ios-pause"></i>
            <i ng-if=" ! isGifPlaying" class="ion-ios-play-outline"></i>
          </a>
        </span>
        <span>
          <a class="button font-32" ng-click="restart()"><i class="ion-ios-skipbackward-outline" title="Restart"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="backward()" title="Backward"><i class="ion-ios-rewind-outline"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="forward()" title="Foreward"><i class="ion-ios-fastforward-outline"></i></a>
        </span>
          <span>
          <a class="button font-32" ng-click="end()" title="End"><i class="ion-ios-skipforward-outline"></i></a>
        </span>
      </div>
      <!-- info frames --------------------------------------------------------------------------------------------- -->
      <div class="info-fotogramas">
        Fotograma: <b class="red">{{ gifAnimado.get_current_frame() + 1 }}</b> de {{ ::totalFrames }}
      </div>
      <!-- /info frames -------------------------------------------------------------------------------------------- -->
    </div>

    <!-- zoom controls --------------------------------------------------------------------------------------------- -->
    <div class="card">
      <div class="centered">
        <a class="button btn-zoom zoom-out"><i class="ion-ios-minus-outline font-32"></i></a>
        <a class="button btn-zoom zoom-in"><i class="ion-ios-plus-outline font-32"></i></a>
        <label class="range range-assertive range-label">
          <input type="range" class="zoom-range" min="1" max="4" step="0.1"/>
        </label>
        <a class="button btn-zoom reset"><i class="ion-arrow-expand light-gray font-32"></i></a>
      </div>
    </div>
    <!-- /zoom controls -------------------------------------------------------------------------------------------- -->

    <!-- card detalles --------------------------------------------------------------------------------------------- -->
    <div class="card">
      <div class="item item-divider small-font">Información:</div>
      <div class="item item-text-wrap small-font">
        <div><span class="verde">&bullet; Categoría:</span> {{ ::itemMeteo.categoria }}</div>
        <div>
          <span class="verde">&bullet; Fuente:</span>
          <a ng-href="{{ ::itemMeteo.urlFuente }}" target="_blank">{{ ::itemMeteo.fuente }}</a>
        </div>
        <div><span class="verde">&bullet; Detalles:</span> {{ ::itemMeteo.descripcion }}</div>
      </div>
    </div>
     <!-- /card detalles ------------------------------------------------------------------------------------------- -->

  </ion-content>
</ion-view>
