<ion-view view-title="Animación" xmlns:rel="http://www.w3.org/1999/xhtml">
  <ion-content>
    <style>
      .video-container {
        /*position: relative;*/
        padding-bottom: 56.25%;
        /*padding-top: 30px; */
        /*height: 30em;*/
        overflow: hidden;
      }
    </style>
    <div class="video-container">
      <h1>Example with controls and no auto-play</h1>
      <div>
        <!-- imagen ---------------------------------------------------------------------------------------------->
        <img id="gif" src="http://neige.meteociel.fr/satellite/anim_vis_sp.gif"
             rel:auto_play="0" rel:speed="500" width="100%" height="70%" ng-click="playPause()"/>
        <!-- fin imagen ------------------------------------------------------------------------------------------>
        <!-- range slider ---------------------------------------------------------------------------------------->
        <label class="range range-positive" style="padding: 0 3%;">
          <input id="levelRange" type="range" min="0" max="{{ gifAnimado.get_length()-1 }}"
                 value="{{ currentFrame }}" ng-model="currentFrame" ng-change="irPosicion(currentFrame)"
                  style="margin:0"/>

        </label>
        <div style="width:100%;height:50px;display:block;font-size:40px;">
          <i class="icon ion-ios-play-outline" ng-click="playPause()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-skipbackward-outline" ng-click="end()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-fastforward-outline" ng-click="end()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-rewind-outline" ng-click="end()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-rewind-outline" ng-click="end()" style="cursor: pointer;"></i>
        </div>
        <!-- fin range slider ------------------------------------------------------------------------------------>
        <!-- botones --------------------------------------------------------------------------------------------->
        <div>
        <button ng-click="playPause()">Reproducir/Detener</button>
        <button ng-click="backward()">-1</button>
        <button ng-click="forward()">+1</button>
        <button ng-click="restart()">Inicio</button>
        <button ng-click="end()">Final</button>
        </div>
        <!-- fin botones ----------------------------------------------------------------------------------------->
        <!-- Leyenda --------------------------------------------------------------------------------------------->
        <div style="width:100%">
          <i class="icon ion-ios-skipforward-outline" ng-click="end()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-search" ng-click="end()" style="cursor: pointer;"></i>
          <i class="icon ion-ios-skipbackward-outline" ng-click="end()" style="cursor: pointer;"></i>
          Fotograma: {{ gifAnimado.get_current_frame()+1 }} de {{ gifAnimado.get_length() }}
        </div>
        <!-- fin leyenda ----------------------------------------------------------------------------------------->

      </div>
    </div>
  </ion-content>
</ion-view>
