<ion-view view-title="Mapa densidad">
  <style type="text/css">
    iframe {
      width: 100%;
      background: transparent url(../img/c.png) no-repeat center center;
    }
  </style>
  <ion-content>
    <iframe id="heatmap"
      ng-src="https://www.google.com/fusiontables/embedviz?q=select+col16%2C+col19+from+1gX5maFbqFyRziZiUYlpOBYhcC1v9lGkKqCXvZREF+limit+1000&viz=HEATMAP&h=true&lat=43.38847504207232&lng=-5.828221488395675&t=3&z=8&l=col16&y=6&tmplt=8&hmd=true&hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&hmo=0.69&hmr=28&hmw=0&hml=TWO_COL_LAT_LNG"
      frameborder="0" allowfullscreen height="300"></iframe>
    <div style="text-align:center" class="padding">
    <p>El mapa de densidad muestra la concentración geográfica de las webcams en el terreno.
      Las zonas con tonos más rojizos tienen mayor densidad de webcams.</p>
    <p>A partir del mapa se puede deducir, por ejemplo, que la mayor concentración de webcams
    se da en las zonas de Gijón, Lastres y Llanes.</p>
    </div>
  </ion-content>
</ion-view>
