<!--suppress CssUnknownTarget -->
<!-- todo: unificar las clases "heatmap", "streetview", etc. como una sola clase responsiva -->
<ion-view view-title="Mapa densidad">
  <style type="text/css">
    #heatmap {width: 100%; height: 75%}
    @media (min-width: 720px) { #heatmap {width: 75%; display: block; padding-top: 50px; margin: auto} }
    .pad-info {padding-top: 40px; padding-bottom: 40px}
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div id="loader" class="spinner-circle-container">
      <div class="spinner-circle"></div>
    </div>

    <iframe id="heatmap" data-tap-disabled="true"
      ng-src="{{ ::urlHeatmap  }}"
      frameborder="0" allowfullscreen iframe-onload="removeDomElementById('loader')"></iframe>

    <div class="txt-info pad-info">
      <i class="ion-information-circled"></i> El mapa de densidad muestra la concentración
      geográfica de las webcams en el terreno. Las zonas con tonos más rojizos tienen mayor densidad de webcams.
    </div>

  </ion-content>
</ion-view>
