<style type="text/css">
  #gifScroll {
    width: 100%;
    /*height: 60%;*/
    /*padding-top: 50px;*/
    background-repeat: no-repeat;
    background-position: center 50px;
    background-image: url(../img/spinner.gif);
    background-color: transparent;
  }
</style>

<ion-view view-title="{{itemMeteo.nombre}}">

  <ion-header-bar class="bar-subheader bar-light">
    <!-- pinch ------------------------------------------------------------------------------------------------>
    <div style="text-align: center">
      <span>Zoom imagen</span>
      <img style="width:35px;vertical-align:middle" src="../img/pinch1.png"/>
    </div>
    <!-- pinch ------------------------------------------------------------------------------------------------>
  </ion-header-bar>

  <ion-content class="has-subheader">
    <ion-scroll id="gifScroll" zooming="true" direction="xy">
      <img src="{{ ::itemMeteo.url }}" width="100%"/>
    </ion-scroll>
    <!-- detalles --------------------------------------------------------------------------------------------->
    <div class="card">
      <div class="item item-divider">
        Detalles:
      </div>
      <div class="item item-text-wrap" style="font-size:small">
        <!--TODO: hacer un campo en la tabla meteo con la url de creditos-->
        <div><span style="color:green">&#187; Nombre:</span> {{ ::itemMeteo.nombre}}</div>
        <div><span style="color:green">&#187; Fuente:</span> <a href="{{ ::itemMeteo.urlFuente }}" target="_blank">
          {{ ::itemMeteo.fuente}}</a>
        </div>
        <div><span style="color:green">&#187; Tipo imagen:</span> {{ ::itemMeteo.tipoImagen}}</div>
        <div><span style="color:green">&#187; Descripción:</span> {{ ::itemMeteo.descripcion }}</div>
      </div>
    </div>
    <!-- fin detalles ----------------------------------------------------------------------------------------->
  </ion-content>
</ion-view>
