<ion-view view-title="{{itemMeteo.nombre}}">

  <style type="text/css">
    #imgContainer {
      width: 100%;
      height: 60%;
      margin-top: 88px;
    }
    ion-header-bar > div > img {
      width: 35px;
      vertical-align: middle;
    }
  </style>

  <ion-header-bar class="bar-subheader bar-light">
    <div style="text-align: center">
      <span>Zoom </span>
      <img ng-src="img/pinch1.png"/>
    </div>
  </ion-header-bar>

  <ion-scroll id="imgContainer" zooming="true" direction="xy" locking="false" overflow-scroll="false">
    <img ng-src="{{ ::itemMeteo.url }}" width="100%"/>
  </ion-scroll>
  <!-- detalles --------------------------------------------------------------------------------------------->
  <div class="card">
    <div class="item item-divider">
      Detalles:
    </div>
    <div class="item item-text-wrap" style="font-size:small">
      <div><span style="color:green">&#187; Nombre:</span> {{ ::itemMeteo.nombre}}</div>
      <div><span style="color:green">&#187; Fuente:</span> <a href="{{ ::itemMeteo.urlFuente }}" target="_blank">
        {{ ::itemMeteo.fuente}}</a>
      </div>
      <div><span style="color:green">&#187; Tipo imagen:</span> {{ ::itemMeteo.tipoImagen}}</div>
      <div><span style="color:green">&#187; Descripción:</span> {{ ::itemMeteo.descripcion }}</div>
    </div>
  </div>
  <!-- fin detalles ----------------------------------------------------------------------------------------->

</ion-view>
