<ion-view title="Listado">
  <ion-content class="has-header has-search-bar">

      <!--TODO: Poner colores en el listado-->
      <!--TODO: busqueda de camaras por texto en header bar o en menu superior izquierdo-->
      <!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
      <!--TODO: mapa de google en el detalles-->
      <!--TODO: Entrada de menu que muestre en mapa todas las camaras-->
      <!--TODO: usar cards de mdl en vez de este tipo de listado? probarlo a ver-->
      <!--TODO: Usar el menu login para hacer la busqueda avanzada usando un dialog box-->

      <!--TODO: evitar animaciones al hacer la búsqueda. Puede ser en el evento onclick de la caja de texto-->
      <!--TODO: poner la barra de busqueda dentro de una sub-header para que no haga scroll-->
      <!--TODO: posibilidad de usar un boton redondo con lupa para activar la busqueda-->


<!--
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar..." ng-model="search">
    </label>
-->

    <div class="list">

      <div ng-repeat="cam in listacams.rows"
           class="">
<!--
        <div ng-repeat="cam in listacams.rows | filter:(cam[1]=concejo) | filter:(cam[3]='categoria='+categoria)"
             class="chat-item item-remove-animate">
-->

          <!--TODO: cuando falla al cargar una imagen poner un texto con aviso en el listado para intentar recargarla-->

          <a class="item item-thumbnail-left item-icon-right"
             href="#/app/detalle/{{ cam[4]}}">
            <img src="../img/ionic.png"/>
            <div class="divListado">
              <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
              <p>
                <span class="resalteListado"><b>&#187;</b> Lugar: </span>
                <span class="textoListado">{{ cam[0] }}</span>
              </p>
              <p>
                <span class="resalteListado"><b>&#187;</b> Concejo: </span>
                <span class="textoListado">{{ cam[1] }}</span>
              </p>
              <!--<p>Categoría: {{cam[3]}}</p>-->
              <!--<p>indice: {{ $index }}</p>-->
              <!--<p>ROWID: {{cam[4]}}</p>-->
            </div>
            <i class="icon ion-android-exit" style="color: #387ef5;"></i>
          </a>

        </div>
      </div>



    </ion-content>
</ion-view>
