<!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
<!--TODO: cuando falla al cargar la imagen avisar al usuario en el listado que puede intentar recargarla-->
<!--TODO: Hacer disclaimer-->
<ion-view view-title="{{tituloVista}}">
  <style type="text/css">
    #btnMosaico{
      padding:0;
      border:0;
    }
/*    .itemCam {
      padding: 0;
      text-decoration: none;
    }*/
    .item-icon-right{
      min-height: 0;
      padding-left: 75px;
    }
    .divListado {
      /*
      margin-top:15px;
      */
      margin-top:10px;
      margin-left: 10px;
    }
  </style>

  <ion-nav-buttons side="right">
    <a id="btnMosaico" class="button button-icon icon ion-grid"
            href="#/app/mosaico2?concejo={{ ::concejo }}&idCategoria={{ ::idCategoria }}"></a>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader bar-light">
    <h1 class="title">Listado</h1>
  </ion-header-bar>

  <ion-content>
    <!--listado2 native scroll true, collection repet false<br>-->
    <!--concejo: {{::concejo}}<br>-->
    <!--idcategoria: {{::idCategoria}}<br>-->

    <div>
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="cam in items track by cam[4]"
         href="#/app/detalle/{{ ::items[$index][4] }}">
        <img ng-src="img/ionic.png" fallback-src="../img/imgFail.png" style="height: 60px;width: 60px;"/>
        <div class="divListado">
          <p>
            <span class="resalteListado"><b>&#187; </b></span>
            <span class="textoListado">{{ ::cam[0] }}</span>
          </p>
          <p>
            <span class="resalteListado"><b>&#187; </b></span>
            <span class="textoListado">Concejo: {{ ::cam[1] }}</span>
          </p>
          <!--<p>Categoría: {{cam[3]}}</p>-->
          <!--<p>indice: {{ $index }}</p>-->
          <!--<p>ROWID: {{cam[4]}}</p>-->
        </div>
        <i class="icon ion-android-exit" style="color: #387ef5;"></i>
      </a>
    </div>

  <br/>
  <br/>

  </ion-content>
</ion-view>
