<!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
<ion-view view-title="Listado" cache-view="true">

  <style type="text/css" scoped>
    #btnMosaico{padding:0; border:0;}
    #listadoContainer > .item-icon-right{min-height: 0; padding-left: 80px;}
    #imWC {height: 64px; width: 72px; top: 6px; background: transparent url(img/clock-32x32-3.png) no-repeat center center;}
    .textoItem {margin-top:10px;  margin-left: 10px;}
    .icon-badge {vertical-align: sub; margin-top: 4px; margin-bottom: 4px; padding-top: 4px;}
    @media (min-width: 720px) {
      #listadoContainer{
        width: 80%;
        margin: 32px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
      #contenido-listado{background-color:ghostwhite;}
    }
    .error {text-align: center; color: red;}
    .color-blue {color: #387ef5;}
  </style>

  <ion-nav-buttons side="left">
    <button ng-if="screenWidth < 760" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a id="btnMosaico" class="button button-icon icon ion-grid"
       href="#/app/mosaico?concejo={{ concejo }}&idCategoria={{ idCategoria }}"></a>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader bar-stable">
    <h1 class="title">{{ tituloVista }}</h1>
    <span class="badge badge-calm icon-badge">{{ items.length }}</span>
  </ion-header-bar>

  <ion-content id="contenido-listado">
    <div id="listadoContainer">
      <div class="error">{{ ::error }}</div>
      <a class="item item-thumbnail-left item-icon-right"
         ng-repeat="cam in items track by cam[4]" href="#/app/detalle/{{ items[$index][4] }}">
        <img id="imWC" ng-src="{{ cam[2] }}" fallback-src="img/imgFail.png"/>
        <div class="textoItem">
          <p>
            <span class="resalteListado"><b>&bullet; </b></span>
            <span class="textoListado">{{ cam[0] }}</span>
          </p>
          <p>
            <span class="resalteListado"><b>&bullet; </b></span>
            <span class="textoListado">Concejo: {{ cam[1] }}</span>
          </p>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
        <!-- DEBUG INFO -->
        <!--<p>Categoría: {{cam[3]}}</p>-->
        <!--<p>indice: {{$index}}</p>-->
        <!--<p>ROWID: {{cam[4]}}</p>-->
        <!-- /DEBUG INFO -->
      </a>
    </div>
  <br/>
  <br/>
  </ion-content>
</ion-view>
