<!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
<!--TODO: Hacer disclaimer-->
<ion-view view-title="Listado" cache-view="true">
  <style type="text/css">
    #btnMosaico{
      padding:0;
      border:0;
    }
    #listadoContainer > .item-icon-right{
      min-height: 0;
      padding-left: 80px;
    }
    .textoItem {
      margin-top:10px;
      margin-left: 10px;
    }
    #imWC {
      height: 64px;
      width: 72px;
      top: 6px;
    }
    .icon-badge {
      vertical-align: sub;
      margin-top: 7px;
    }
  </style>

  <ion-nav-buttons side="right">
    <a id="btnMosaico" class="button button-icon icon ion-grid"
            href="#/app/mosaico?concejo={{ concejo }}&idCategoria={{ idCategoria }}"></a>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader bar-stable">
    <h1 class="title" style="">{{ tituloVista }}</h1>
    <span class="badge badge-calm icon-badge">{{ items.length }}</span>
  </ion-header-bar>

  <ion-content class="animated fadeIn">
    <div id="listadoContainer">
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="cam in items track by cam[4]"
         href="#/app/detalle/{{ items[$index][4] }}">
        <!--<img id="imWC" ng-src="{{ cam[2] }}" fallback-src="img/imgFail.png"/>-->
        <div class="textoItem">
          <p>
            <span class="resalteListado"><b>&#187; </b></span>
            <span class="textoListado">{{ cam[0] }}</span>
          </p>
          <p>
            <span class="resalteListado"><b>&#187; </b></span>
            <span class="textoListado">Concejo: {{ cam[1] }}</span>
          </p>
          <!--<p>Categoría: {{cam[3]}}</p>-->
          <!--<p>indice: {{$index}}</p>-->
          <!--<p>ROWID: {{cam[4]}}</p>-->
        </div>
        <i class="icon ion-android-exit" style="color: #387ef5;"></i>
      </a>
    </div>
  <div>{{error}}</div>
  <br/>
  <br/>

  </ion-content>
</ion-view>
