<ion-view title="Listado">
  <!--TODO: cambiar el tema de la barra de busqueda a material design-->
  <!--TODO: intentar debugear la inicializacion de la barra de busqueda-->
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>

      items.length: {{items.length}}
      <!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
      <!--TODO: mapa de google en el detalles-->
      <!--TODO: Entrada de menu que muestre en mapa todas las camaras-->
      <!--TODO: usar cards de mdl en vez de este tipo de listado? probarlo a ver-->
      <!--TODO: Usar el menu login para hacer la busqueda avanzada usando un dialog box-->

      <div class="list">
<!--
        <div ng-repeat="cam in listacams.rows | filter:(cam[1]=concejo) | filter:(cam[3]='categoria='+categoria)"
             class="chat-item item-remove-animate">
-->
        <div ng-repeat="cam in cams = (items | filter:(cam[1]=concejo) | filter:(cam[3]='categoria='+categoria))")
             class="">

          <!--TODO: cuando falla al cargar la imagen avisar al usuario en el listado que puede intentar recargarla-->
          <!--TODO: poner animación en el listado-->

          <a class="item item-thumbnail-left item-icon-right"
             href="#/app/detalle/{{ cam[4]}}">
            <img src="../img/ionic.png"/>
            <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
            <div class="divListado">
              <p>
                <span class="resalteListado"><b>&#187;</b> Lugar: </span>
                <span class="textoListado">{{ cam[0] }}</span>
              </p>
              <p>
                <span class="resalteListado"><b>&#187;</b> Concejo: </span>
                <span class="textoListado">{{ cam[1] }}</span>
              </p>
              <!--<p>Categoría: {{cam[3]}}</p>-->
              <!--<p>indice: {{ $index }}</p>-->
              <!--<p>ROWID: {{cam[4]}}</p>-->
            </div>
            <i class="icon ion-android-exit" style="color: #387ef5;"></i>
          </a>

        </div>
      </div>




    </ion-content>
</ion-view>
