<!--TODO: cambiar el tema de la barra de busqueda a material design-->
<!--TODO: añadir geolocalicacion y busqueda de camaras cercanas-->
<!--TODO: cuando falla al cargar la imagen avisar al usuario en el listado que puede intentar recargarla-->
<!--TODO: poner la categoria en el titulo-->
<!--TODO: implementar directiva de progress bar-->
<ion-view view-title="Listado">
  <ion-content>

    <div class="list">
      <div collection-repeat="cam in items track by cam[4]" item-heigth="100px">
        <a class="item item-thumbnail-left item-icon-right" href="#/app/detalle/{{cam[4]}}">
          <!--<img ng-src="http://api.randomuser.me/portraits/thumb/men/{{$index}}.jpg" height="50%">-->
          <img src="../img/ionic.png"/>
          <!--<img  ng-src="{{ cam[2]}}" fallback-src="http://google.com/favicon.ico"/>-->
          <!--<img ng-src="http://loremflickr.com/500/500?random={{$index+1}}" fallback-src="http://google.com/favicon.ico">-->
          <div class="divListado">
            <p>
              <span class="resalteListado"><b>&#187;</b> Lugar: </span>
              <span class="textoListado">{{ cam[0] }}</span>
            </p>
            <p>
              <span class="resalteListado"><b>&#187;</b> Concejo: </span>
              <span class="textoListado">{{ cam[1] }}</span>
            </p>
            <!--<p>Categoría: {{cam[3]}}</p>-->
            <!--<p>indice: {{ $index }}</p>-->
            <!--<p>ROWID: {{cam[4]}}</p>-->
          </div>
          <i class="icon ion-android-exit" style="color: #387ef5;"></i>
          <!--<i class="icon ion-log-in" style="color: #387ef5;"></i>-->
          <!--<i class="icon ion-images" style="color: #387ef5;"></i>-->
          </a>
      </div>
    </div>

  <br/>
  <br/>

  </ion-content>
</ion-view>
