<!--todo: busqueda con google places-->
<!--suppress HtmlUnknownTarget -->
<ion-view view-title="Mapa Global">
  <style>
    .label-content {width: 100%; font-size: small}
    .ico-funnel-content {font-family: sans-serif; color: lightslategrey; vertical-align: top; padding: 6% 6% 2%}
    .ico-funnel {font-size: 20px; padding: 5px; vertical-align: middle}
    .container-btn-todas {text-align: center; padding-bottom: 30px}
    .btn-todas {width: 50%}
    .color-blue {color: #007aff !important}
    #mapaglobal {width: 100%; height: 70%}
    @media (min-width: 720px) {
      #mapaglobal {height: 70%; max-width: 75%; margin-left: auto; margin-right: auto; margin-top: 30px}
    }
  </style>

  <ion-nav-buttons side="left">
    <button ng-if="screenWidth < 760" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>

    <div id="loader" class="spinner-circle-container">
      <div class="spinner-circle"></div>
    </div>

    <!-- Mapa Global -->
    <div id="mapaglobal" data-tap-disabled="true"></div>
    <!-- /Mapa Global -->

    <!-- Responsive Page -->
    <div class="responsive-page">

      <div class="ico-funnel-content"><i class="icon icon-left ion-android-funnel ico-funnel"></i>Filtrar por:</div>

      <div class="list item-input-inset">
        <label class="item item-input item-select label-content">
          Categoría:
          <select ng-modal="test" id="selectCategoria" class="color-blue"
            ng-model="filtro.categoria" ng-change="categoriaEscogida(filtro.categoria)">
              <option ng-repeat="categoria in categorias track by $index" value="{{ categoria }}">
                {{ categoria }}
              </option>
          </select>
        </label>
      </div>

      <div class="list item-input-inset">
        <label class="item item-input item-select label-content">
          Concejo:
          <select id="selectConcejo" class="color-blue" ng-model="filtro.concejo"
            ng-change="concejoEscogido(filtro.concejo)">
              <option ng-repeat="concejo in concejos track by $index">{{ concejo }}</option>
          </select>
        </label>
      </div>

      <div class="container-btn-todas">
        <button class="button button-calm btn-todas" ng-click="mostrarTodas()">Mostrar Todas</button>
      </div>
    </div>
    <!-- /Responsive Page -->

  </ion-content>
</ion-view>


