<!--TODO: insertar imágenes de panoramio o mejor de google places-->
<!--TODO: insertar imagen de street view-->
<!--TODO: busqueda de google places-->
<!--TODO: filtrar markers por concejo y categoria (lugar?)-->

<ion-view view-title="Mapa de Cámaras" cache-view="false">
  <!--<ion-content header-shrink scroll-event-interval="1">-->
  <ion-content>

    <style>

      .scroll {
        height: 100%;
      }
/*
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        margin-left: -100px;
}
*/
      #mapa{background: transparent url(../img/c.png) no-repeat center center;}

    </style>

    <div id="mapa" data-tap-disabled="true" style="width: 100%; height: 60%"></div>
    <div id="floating-panel">
      <input type="button" value="Street View" ng-click="verStreetView();"/>
    </div>
    <div id="info" ng-show="toggle">Imágenes de Street View en localizacón aproximada</div>
    <p>Lugar: {{lugar}}</p>
    <p>Concejo: {{Concejo}}</p>


  </ion-content>
</ion-view>
