<!--TODO: poner búsqueda en google places de sitios de interes cercanos a la cámara-->
<!--TODO: poner en l inforiwindow de google mps enlces streetview y fotos de pnormio-->
<ion-view view-title="Mapa" cache-view="false">
  <ion-content class="animated fadeIn">

    <style>
      .scroll {
        height: 100%;
      }
      #mapa{background: transparent url(img/c.png) no-repeat center center;}
    </style>

    <div id="mapa" data-tap-disabled="true" style="width: 100%; height: 60%"></div>

    <div class="card">
      <div class="item item-text-wrap">{{ ::cam.lugar }}</div>
      <div class="item item-text-wrap">Concejo: {{ ::cam.concejo }}</div>
    </div>

    <div style="text-align:center;font-size:x-small;">
      Doble tap o pinza, para aumentar<br/>
      Arrastrar, para desplazarse
    </div>

  </ion-content>
</ion-view>


