<!--TODO: insertar imágenes de panoramio o mejor de google places-->
<!--TODO: insertar imagen de street view-->
<!--TODO: busqueda de google places-->
<!--TODO: filtrar markers por concejo y categoria (lugar?)-->
<!--TODO: poner búsqueda en google places de sitios de interes cercanos a la cámara-->
<ion-view view-title="Mapa" cache-view="false">
  <ion-content>

    <style>
      .scroll {
        height: 100%;
      }
      #mapa{background: transparent url(../img/c.png) no-repeat center center;}
    </style>

    <div id="mapa" data-tap-disabled="true" style="width: 100%; height: 60%"></div>
    <p>Lugar: {{ ::cam.lugar }}</p>
    <p>Concejo: {{ ::cam.concejo }}</p>
    <p>idCategoria: {{ ::cam.idCategoria }}</p>

  </ion-content>
</ion-view>


