<!--TODO: insertar imágenes de panoramio o mejor de google places-->
<!--TODO: insertar imagen de street view-->
<!--TODO: busqueda de google places-->
<!--TODO: filtrar markers por concejo y categoria (lugar?)-->

<ion-view view-title="Mapa Global">
  <!--<ion-content header-shrink scroll-event-interval="1">-->
  <ion-content>

    <style>
      .scroll {
        height: 100%;
      }
      #mapa{background: transparent url(../img/c.png) no-repeat center center;}
    </style>

    <div id="mapaglobal" data-tap-disabled="true" style="width: 100%; height: 60%;"></div>

    mapaglobal. poner aqui filtros por concejos (buscar con google places?)
  </ion-content>
</ion-view>


