<ion-side-menus enable-menu-with-back-views="false">

  <style>
    #menuaapp > div > ion-item {border-style:none;cursor: pointer}
    #menuaapp > div > ion-item > a {padding:12px;}
    .textTop{vertical-align:text-top;}
  </style>

  <!-- Side Menu Content ------------------------------------------------------------------------------------------ -->
  <ion-side-menu-content drag-content="true">

    <ion-nav-bar class="bar-positive sombraInferior">
      <ion-nav-back-button class="button-icon ion-android-arrow-back">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="secondary">
        <button ng-if="mostrarLupa" class="button button-icon icon ion-ios-search-strong"
                ng-click="showFilterBar()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>
  <!-- Fin Side Menu Content -------------------------------------------------------------------------------------- -->

  <!-- Side Menu -------------------------------------------------------------------------------------------------- -->
  <ion-side-menu side="left" expose-aside-when="large">

    <ion-header-bar class="bar-royal" style="height:100px;display:block;background: url(../img/bckgrnd6.jpg);">
      <h1 class="title"></h1>
    </ion-header-bar>
    <!--
    - Ids de Categorias -
    1 poblaciones/Zonas Urbanas
    2 Puertos
    3 Montaña
    5 Ríos
    7 playas
    -->
    <ion-content style="top: 110px;">
      <ion-list id="menuaapp" class="pad-top-10">
        <ion-item menu-close ui-sref="app.listado({idCategoria:7})">
          <i class="icon icon-left ion-ios-sunny textTop" style="font-size:25px"></i>&nbsp;
          Playas
        </ion-item>
          <ion-item menu-close ui-sref="app.listado({idCategoria:1})">
          <i class="icon icon-left ion-ios-home textTop" style="font-size:25px"></i>&nbsp;
          Poblaciones
        </ion-item>
          <ion-item menu-close ui-sref="app.listado({idCategoria:2})">
          <i class="icon icon-left ion-android-boat textTop" style="font-size:20px"></i>&nbsp;
          Puertos
        </ion-item>
          <ion-item menu-close ui-sref="app.listado({idCategoria:5})">
          <img ng-src="img/icon-river.png" width="20" height="20" class="textTop">&nbsp;
          Ríos
        </ion-item>
          <ion-item menu-close ui-sref="app.listado({idCategoria:3})">
          <i class="icon icon-left ion-android-image textTop" style="font-size:25px"></i>&nbsp;
          Montaña
        </ion-item>
          <ion-item menu-close href="#/app/listado">
          <i class="icon icon-left ion-ios-list-outline textTop" style="font-size:25px"></i>&nbsp;
          Todas
        </ion-item>
          <ion-item menu-close ui-sref="app.mapaglobal">
          <i class="icon icon-left ion-earth textTop" style="font-size:25px"></i>&nbsp;
          Mapa Global
        </ion-item>
          <ion-item menu-close ui-sref="app.meteo">
          <i class="icon icon-left ion-ios-partlysunny textTop" style="font-size:30px"></i>&nbsp;
          Meteo
        </ion-item>
          <ion-item menu-close ui-sref="app.stats">
          <i class="icon icon-left ion-stats-bars textTop" style="font-size:30px"></i>&nbsp;
          Estadísticas
        </ion-item>
      </ion-list>
      <br/>
      <div style="font-size:small;text-align: center">
        Desarrollado por<br/>
        <a href="https://yagolopez.github.io" target="_blank">Yago López</a>
      </div>
    </ion-content>

  </ion-side-menu>
  <!-- Fin Side Menu ---------------------------------------------------------------------------------------------- -->
</ion-side-menus>
