<!--suppress CssUnknownTarget -->
<ion-side-menus enable-menu-with-back-views="true">

  <style type="text/css">
    #left-menu > div > ion-item {border-style:none; cursor:pointer}
    #left-menu > div > ion-item > a {padding:12px}
    .menu-top-img {height:100px; display:block; background:url(img/bckgrnd6.jpg) !important}
    .menu-item {vertical-align:text-top}
    #menu-content {top:110px}
    .credits {font-size:small; text-align:center; width: 135px; padding-bottom: 25px; margin: auto auto auto 60px}
    .font20 {font-size:20px; vertical-align: sub}
    .font25 {font-size:25px; vertical-align: sub}
    .img-logo {width: 30px;height: 30px;float: left;margin-top: 6px;margin-bottom: 6px}
    .lnk-logo {text-decoration: none}
  </style>

  <!-- Side Menu --------------------------------------------------------------------------------------------------- -->

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-royal menu-top-img">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content id="menu-content" class="ion-content">
      <ion-list id="left-menu" class="pad-top-10">
        <ion-item menu-close ui-sref="app.listado({categoria:'playas', concejo: ''})">
          <i class="icon icon-left ion-ios-sunny menu-item font25"></i> Playas
        </ion-item>
        <ion-item menu-close ui-sref="app.listado({categoria:'puertos', concejo: ''})">
          <i class="icon icon-left ion-android-boat menu-item font20"></i> Puertos
        </ion-item>
        <ion-item menu-close ui-sref="app.listado({categoria:'poblaciones', concejo: ''})">
          <i class="icon icon-left ion-ios-home menu-item font25"></i> Poblaciones
        </ion-item>
        <ion-item menu-close ui-sref="app.listado({categoria:'ríos', concejo: ''})">
          <img ng-src="img/icon-river.png" width="20" height="20" class="menu-item"> Ríos
        </ion-item>
        <ion-item menu-close ui-sref="app.listado({categoria:'montaña', concejo: ''})">
          <i class="icon icon-left ion-android-image menu-item font25"></i> Montaña
        </ion-item>
        <ion-item menu-close ui-sref="app.buscar">
          <i class="icon icon-left ion-ios-search-strong menu-item font25"></i> Buscar Webcams
        </ion-item>
        <ion-item menu-close ui-sref="app.mapaglobal">
          <i class="icon icon-left ion-earth menu-item font25"></i> Mapa Global
        </ion-item>
        <ion-item menu-close ui-sref="app.meteo">
          <i class="icon icon-left ion-ios-partlysunny menu-item font25"></i> Meteo
        </ion-item>
        <ion-item menu-close ui-sref="app.stats">
          <i class="icon icon-left ion-stats-bars menu-item font25"></i> Estadísticas
        </ion-item>
        <ion-item menu-close href="https://github.com/YagoLopez/Webcams_de_Asturias/issues/new" target="_blank">
          <i class="icon icon-left ion-android-mail menu-item font20"></i> Contactar
        </ion-item>
      </ion-list>
      <br/>

      <div class="credits">
        <img src="img/logo.svg" class="img-logo">
        <div>
          <div style="color: darkgrey">Desarrollado por</div>
          <a href="https://yagolopez.js.org" target="_blank" class="lnk-logo">Yago López</a></div>
      </div>

    </ion-content>
  </ion-side-menu>

  <!-- Side Menu Content ------------------------------------------------------------------------------------------- -->

  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button ng-if="screenWidth < 760" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- /Side Menu Content ------------------------------------------------------------------------------------------ -->

</ion-side-menus>
