<ion-view view-title="{{ itemMeteo.nombre }}">
  <style type="text/css">
    .green {
      color: green;
    }
    #imgMeteo {
      width: 100%;
      height: 400px;
    }
    ion-header-bar > div > img {
      width: 35px;
      vertical-align: middle;
    }
    .centered {
      text-align: center;
    }
    .small-text {
      font-size: small;
    }
    @media (min-width: 720px) {
      .card{
        width: 80%;
        margin: 32px auto;
      }
      #imgMeteo{
        width: 80%;
        height: 450px;
        margin: 32px auto;
      }
    }
  </style>

  <ion-header-bar class="bar-subheader bar-stable">
    <div class="centered">
      <span>Zoom </span><img src="../img/pinch1.png"/>
    </div>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <ion-scroll id="imgMeteo" zooming="true" direction="xy" locking="false" overflow-scroll="false">
      <img ng-src="{{ ::itemMeteo.urlNoProxy }}" width="100%"/>
    </ion-scroll>
    <!-- card ====================================================================================================== -->
    <div class="card">
      <div class="item item-divider">Detalles:</div>
      <div class="item item-text-wrap small-text">
        <div><span class="green">&#187; Nombre:</span> {{ ::itemMeteo.nombre }}</div>
        <div><span class="green">&#187; Fuente:</span> <a href="{{ ::itemMeteo.urlFuente }}" target="_blank">
          {{ ::itemMeteo.fuente }}</a>
        </div>
        <div><span class="green">&#187; Tipo imagen:</span> {{ ::itemMeteo.tipoImagen }}</div>
        <div><span class="green">&#187; Descripción:</span> {{ ::itemMeteo.descripcion }}</div>
      </div>
    </div>
    <!-- /card ===================================================================================================== -->
  </ion-content>
</ion-view>
