<ion-view view-title="Meteo">
  <ion-content>
  <style>
    .vertAlign{
      vertical-align: middle;
    }
    .mapas{
      width: 29px;
      height: 24px;
    }
    .satEsp{
      width: 29px;
    }
  </style>

    <ion-list>
      <!-------------------------------------------------------------------------------------------------------------->
      <ion-item class="item-divider">
        <img src="../img/spain2.png" class="vertAlign satEsp"/>
        Satélite España
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(1)" class="item item-icon-right" href="#/app/gif-player/{{item[0]}}">
        {{ ::item[1] }}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!-------------------------------------------------------------------------------------------------------------->
      <ion-item class="item-divider">
        <img src="../img/eu.png" class="vertAlign"/>
        Satélite Europa
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(2)" class="item item-icon-right" href="#/app/gif-player/{{item[0]}}">
        {{ ::item[1] }}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!-------------------------------------------------------------------------------------------------------------->
      <ion-item class="item-divider">
        <img src="../img/map3.png" class="vertAlign mapas"/>
        Mapas
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(3)" class="item item-icon-right" href="#/app/img-viewer/{{item[0]}}">
        {{ ::item[1] }}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!-------------------------------------------------------------------------------------------------------------->

    </ion-list>

  </ion-content>
</ion-view>
