<ion-view view-title="Meteo">
  <ion-content>
  <style>
    .paneHeader{
      background: aliceblue;
      font-size: large;
      /*padding: 5%;*/
      /*font-family: sans-serif;*/
    }
    .vertAlign{
      vertical-align: middle;
    }
    .mapas{
      width: 29px;
      height: 24px;
    }
    .satEsp{
      width: 29px;
    }
  </style>


    <div class="list">
      <!-------------------------------------------------------------------------------------------------------------->
      <div class="item item-divider">
        <img src="../img/spain2.png" class="vertAlign satEsp"/>
        Satélite España
      </div>
      <!-------------------------------------------------------------------------------------------------------------->
      <a class="item item-icon-right" href="#/app/gif-player">
        Check mail
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Call Ma
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <!-------------------------------------------------------------------------------------------------------------->
      <div class="item item-divider">
        <img src="../img/eu.png" class="vertAlign"/>
        Satélite Europa
      </div>
      <!-------------------------------------------------------------------------------------------------------------->
      <a class="item item-icon-right" href="#/app/gif-player">
        Check mail
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Call Ma
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <!-------------------------------------------------------------------------------------------------------------->
      <div class="item item-divider">
        <img src="../img/map3.png" class="vertAlign mapas"/>
        Mapas
      </div>
      <!-------------------------------------------------------------------------------------------------------------->
      <a class="item item-icon-right" href="#/app/gif-player">
        Check mail
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Call Ma
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <!-------------------------------------------------------------------------------------------------------------->

    </div>


    <!-- add `multiple` attribute to allow multiple sections to open at once -->
<!--
    <v-accordion class="vAccordion&#45;&#45;default">
      &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
      <v-pane expanded>
        <v-pane-header class="paneHeader">
          Satélite España
        </v-pane-header>
        <v-pane-content>
          <div class="list">

            <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              Check mail
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-chatbubble-working"></i>
              Call Ma
              <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-mic-a"></i>
              Record album
    <span class="item-note">
      Grammy
    </span>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-person-stalker"></i>
              Friends
              <span class="badge badge-assertive">0</span>
            </a>

          </div>
        </v-pane-content>
      </v-pane>
      &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
      <v-pane>
        <v-pane-header class="paneHeader">
          Satélite Europa
        </v-pane-header>
        <v-pane-content>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat1<i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat2<i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat2<i class="icon ion-chevron-right"></i>
          </ion-item>
        </v-pane-content>
      </v-pane>
      &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
      <v-pane>
        <v-pane-header class="paneHeader">
          Mapas
        </v-pane-header>
        <v-pane-content>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat1<i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat2<i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right item-divider" href="#/app/gif-player">
            EumetSat2<i class="icon ion-chevron-right"></i>
          </ion-item>
        </v-pane-content>
      </v-pane>
      &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    </v-accordion>
-->


  </ion-content>
</ion-view>
