<ion-view view-title="Meteorología">
  <ion-content id="conteido-meteo">
    <style>
      .vertAlign{
        vertical-align: middle;
      }
      .mapas{
        width: 29px;
        height: 24px;
      }
      .satEsp{
        width: 29px;
      }
      @media (min-width: 720px) {
        ion-content#conteido-meteo {
          background-color: ghostwhite;
        }
        #lista-meteo > div.list {
          width: 80%;
          margin: 32px auto;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
      }
    </style>

    <ion-list id="lista-meteo">
      <!------------------------------------------------------------------------------------------------------------ -->
      <ion-item class="item-divider">
        <img ng-src="img/spain2.png" class="vertAlign satEsp"/>
        Península IbéricaXXXXXXX
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(1)" class="item item-icon-right" href="#/app/gif-player/{{item[0]}}">
        {{ ::item[3] }} <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!------------------------------------------------------------------------------------------------------------ -->
      <ion-item class="item-divider">
        <img ng-src="img/eu.png" class="vertAlign"/> Europa
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(2)" class="item item-icon-right" href="#/app/gif-player/{{item[0]}}">
        {{ ::item[3] }} <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!------------------------------------------------------------------------------------------------------------ -->
      <ion-item class="item-divider">
        <img ng-src="img/map3.png" class="vertAlign mapas"/> Mapas
      </ion-item>
      <ion-item ng-repeat="item in getItemsByCategoriaId(3)" class="item item-icon-right" href="#/app/meteo-detalle/{{item[0]}}">
        {{ ::item[3] }} <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/viento">
        Viento <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <!------------------------------------------------------------------------------------------------------------ -->
    </ion-list>
    <div style="font-size:small; color:cornflowerblue;text-align:center" class="padding"><br/>
      <strong>Nota:</strong> La obtención de datos del servidor y su procesamiento puede tardar varios segundos
      dependiendo del ancho de banda y del hardware disponible.<br/><br/>
    </div>

  </ion-content>
</ion-view>
