<ion-view>
  <ion-content>
    <style>
      .video-container {
        /*position: relative;*/
        padding-bottom: 56.25%;
        /*padding-top: 30px; */
        /*height: 30em;*/
        overflow: hidden;
      }
/*      .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }*/

    </style>
    <div class="card">
      <ion-item>
        <div class="video-container">
          <!--<iframe src="templates/player-frame.html" frameborder="0" width="560" height="315"></iframe>-->
          <h1>Example with controls and no auto-play</h1>
          <div style="/*width:200px;height: 200px;*/">
            <img id="gif" src="http://neige.meteociel.fr/satellite/anim_vis_sp.gif"
                 rel:auto_play="0" rel:speed="500" width="100%" height="70%"/>
            <br>
            <br>
            <br>
            <br>
            <button ng-click="play()">Reproducir</button>
            <button ng-click="pause()">Detener</button>
            <button ng-click="backward()">Atrás 1</button>
            <button ng-click="forward()">Avanza 1</button>
            <button ng-click="restart()">Inicio</button>
            <button ng-click="end()">Final</button>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
