<ion-view view-title="{{ ::cam.lugar }}">

  <style type="text/css">
    #scroll-container {margin-top: 45px; width: 100%; height: 100%; text-align: center; overflow:hidden}
    #scroll-container > img {width: 35px; vertical-align: middle}
    #img-meteoblue {height: 490px; display: block; margin: auto; cursor: move; padding-bottom: 40px}
    ion-header-bar > div > img {width: 35px; vertical-align: middle}
    .loading-text {position: absolute; text-align: center; width: 100%; top: 150px; z-index: -1}
    .gray {color: gray}
  </style>

  <ion-nav-bar>
    <ion-header-bar class="bar-calm" align-title="center">
      <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    </ion-header-bar>
  </ion-nav-bar>

  <!-- overflow-scroll="false" para permitir scrolling. Permite hacer zoom en imagen -->
  <!-- locking="false" para permitir srcroll simultaneo en ejes x,y. apropiado para hacer zoom -->
  <ion-scroll id="scroll-container" zooming="true" direction="xy" locking="false" overflow-scroll="false">
    <h5 class="gray">Predicción</h5>
    <div class="loading-text">Obteniendo datos</div>
    <img id="img-meteoblue" ng-src="{{ urlMeteoblue }}"/>
  </ion-scroll>
</ion-view>
