<ion-view view-title="{{ ::cam.lugar }}">

  <style type="text/css">
    ion-header-bar > div > img {width: 35px; vertical-align: middle}
    #img-cam-container {margin-top: 45px; width: 100%; height: 100%; text-align: center; cursor: move}
    #img-cam-container > img {width: 35px; vertical-align: middle}
    .info-img {display: block; padding-bottom: 40px}
    @media (min-width: 720px) {
      #img-cam-container {margin-top: 12px; width: 100%; height: 100%; text-align: center; cursor: move}
      #cam-imagen {width: 100%; margin: 32px auto}
    }
  </style>

  <ion-nav-bar>
    <ion-header-bar class="bar-calm" align-title="center">
      <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    </ion-header-bar>
  </ion-nav-bar>

  <!-- overflow-scroll="false" => permite scrolling con javascript y hacer zoom en imagen -->
  <!-- locking="false" => permite srcroll simultaneo en ejes x,y. apropiado para hacer zoom -->
  <ion-scroll id="img-cam-container" zooming="true" direction="xy" locking="false" overflow-scroll="false">

    <img id="cam-imagen" ng-src="{{ cam.imagen }}"/>
    <div class="info-img">Concejo: {{ ::cam.concejo }}</div>
  </ion-scroll>

</ion-view>
