<ion-modal-view title="Imagen">

  <ion-header-bar>
    <h1 class="title">Imagen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">
        Cerrar
        <i class="icon icon-right ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-light">
    <div style="text-align: center">
      <span>Zoom imagen</span>
      <img style="width:10%;vertical-align:middle" src="../img/pinch1.png"/>
    </div>
  </ion-header-bar>

  <ion-scroll zooming="true" direction="xy" style="/*width: 200%; height:200%*/ ">
    <img ng-src="{{ urlImg }}" width="100%" height="100%"/>
    <div style="text-align:center;font-size:small">
      <div>{{ titulo}}</div>
      <div>Autor: <a href="{{ urlAutor }}" target="_blank">{{ autor }}</a></div>
      <hr/>
    </div>
  </ion-scroll>

</ion-modal-view>
