<ion-modal-view>

  <style type="text/css">
    #imgCamContainer {
      margin-top: 45px;
      width: 100%;
      height: 100%;
      text-align: center;}
    #imgCamContainer > img {
      width: 35px; vertical-align: middle;}
    ion-header-bar > div > img {
      width: 35px; vertical-align: middle;}
    .img-meteoblue{
      display: block; /*noinspection CssUnknownTarget*/
      background: url('img/clock-32x32-3.png') no-repeat center center;}
  </style>

  <ion-header-bar align-title="center">
    <div class="title">Predicción
      <!--suppress HtmlUnknownTarget -->
      <img src="img/pinch1.png"/></div>
      <button class="button pull-right" ng-click="modalPrediccion.hide()">
        <i class="icon icon-right ion-ios-close-outline"></i>
      </button>
  </ion-header-bar>

  <!-- overflow-scroll=false para permitir scrolling. Permite hacer zoom en imagen -->
  <!-- locking=false para permitir srcroll simultaneo en ejes x,y. apropiado para hacer zoom -->
  <ion-scroll id="imgCamContainer" zooming="true" direction="xy" locking="false" overflow-scroll="false">
    <img ng-src="{{::urlMeteoblue}}" class="img-meteoblue">
  </ion-scroll>
</ion-modal-view>
