<ion-modal-view class="modal-view-detalle">

  <style type="text/css">
    ion-header-bar > div > img {width: 35px; vertical-align: middle}
    #img-cam-container {margin-top: 45px; width: 100%; height: 100%; text-align: center; cursor: move}
    #img-cam-container > img {width: 35px; vertical-align: middle}
    .modal-view-detalle{width: 100%; height: 100%; top: 0; left: 0}
    .info-img {display: block; padding-bottom: 40px}
    @media (min-width: 720px) {
      #cam-imagen {width: 90%; margin: 32px auto}
    }
  </style>

  <ion-header-bar align-title="center">
    <div class="title">Zoom
      <!--suppress HtmlUnknownTarget -->
      <img src="img/pinch1.png"/>
    </div>
    <button class="button pull-right" ng-click="hideModalImgDetalle()">
      <i class="icon icon-right ion-ios-close-outline"></i>
    </button>
  </ion-header-bar>

  <!-- overflow-scroll="false" => permite scrolling con javascript y hacer zoom en imagen -->
  <!-- locking="false" => permite srcroll simultaneo en ejes x,y. apropiado para hacer zoom -->
  <ion-scroll id="img-cam-container" zooming="true" direction="xy" locking="false" overflow-scroll="false">

    <div>modalOpen: {{ modalOpen}}</div>

    <!--<img id="cam-imagen" ng-src="{{ cam.imagen }}"/>-->
    <img id="cam-imagen" ng-src="img/imgFail.png"/>
    <div class="info-img">{{ ::cam.lugar }}<br>Concejo: {{ ::cam.concejo }}</div>
  </ion-scroll>

</ion-modal-view>
