<ion-modal-view title="Imagen">

  <ion-header-bar>
    <h1 class="title">Imagen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">
        Cerrar
        <i class="icon icon-right ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-light">
    <div style="text-align: center">
      <span>Zoom imagen</span>
      <img style="width:35px;vertical-align:middle" src="../img/pinch1.png"/>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-scroll zooming="true" direction="xy" style="margin-top:0;width: 100%; height:100%">
      <img ng-src="{{ ::cam.imagen }}"/>
    </ion-scroll>
  </ion-content>

</ion-modal-view>
