<ion-modal-view class="modal-view-detalle">

  <style type="text/css">
    .modal-view-detalle{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    #imgCamContainer {
      margin-top: 45px;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    #imgCamContainer > img {
      width: 35px;
      vertical-align: middle;
    }
    ion-header-bar > div > img {
      width: 35px;
      vertical-align: middle;
    }
    @media (min-width: 720px) {
      #cam-imagen {
        width: 90%;
        margin: 32px auto;
      }
    }
  </style>

  <ion-header-bar align-title="center">
    <div class="title">Zoom <img src="img/pinch1.png"/></div>
    <button class="button pull-right" ng-click="modalDetalle.hide()">
      <i class="icon icon-right ion-ios-close-outline"></i>
    </button>
  </ion-header-bar>

  <!-- overflow-scroll=false para permitir scrolling con javascript. Permite hacer zoom en imagen -->
  <!-- locking=false para permitir srcroll simultaneo en ejes x,y. apropiado para hacer zoom -->
  <ion-scroll id="imgCamContainer" zooming="true" direction="xy" locking="false" overflow-scroll="false">
    <img id="cam-imagen" ng-src="{{ cam.imagen }}"/>
    <div style="padding-bottom: 20px">{{ ::cam.lugar }}<br>Concejo: {{ ::cam.concejo }}</div>
  </ion-scroll>

</ion-modal-view>
