<ion-view cache-view="true" view-title="Mosaico">
  <style type="text/css">
    .txt {
      font-size: xx-small;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .itemCam {
      padding: 0;
    }
    .imgLoader{
      background: transparent url(img/c.png) no-repeat center center;
      cursor: pointer;
    }
    @media (min-width: 720px) {
      div.grid {
        width: 90%;
        margin: 32px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
      #contenido-mosaico{
        background-color:ghostwhite;
      }
    }
  </style>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader bar-stable">
    <h1 class="title" style="text-align: center">{{ tituloVista }}</h1>
    <span class="badge badge-calm icon-badge">{{ items.length }}</span>
  </ion-header-bar>

  <ion-content id="contenido-mosaico">

    <div class="grid">
      <div class="row" ng-repeat="cam in items track by cam[4]" ng-if="$index % 3 === 0" style="padding:0; margin:0;">

        <ion-item class="col col-33" ng-if="$index < items.length">
          <a href="#/app/detalle/{{ items[$index][4] }}" class="item itemCam">
            <img ng-src="{{ items[$index][2] }}" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>
            <div class="txt">{{ items[$index][0] }}</div>
          </a>
        </ion-item>

        <ion-item class="col col-33" ng-if="$index+1 < items.length" ng-click="showModal($index+1)">
          <a href="#/app/detalle/{{ items[$index+1][4] }}" class="item itemCam">
            <img ng-src="{{ items[$index+1][2] }}" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>
            <div class="txt">{{ items[$index+1][0] }}</div>
          </a>
        </ion-item>

        <ion-item class="col col-33" ng-if="$index+2 < items.length" ng-click="showModal($index+2)">
          <a href="#/app/detalle/{{ items[$index+2][4] }}" class="item itemCam">
            <img ng-src="{{ items[$index+2][2] }}" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>
            <div class="txt">{{ items[$index+2][0] }}</div>
          </a>
        </ion-item>

      </div>
    </div>

  </ion-content>
</ion-view>
