<ion-view title="Mosaico">
  <ion-content>
    Concejo: {{concejo}}<br>
    Categoria: {{categoria}}

        <!-- -----------------------------------------------------------------------------------------------------------------

                  <style>
                    .gallery {
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    }
                  </style>

                  <div class="gallery">
                    <span ng-repeat="datos_cam in listacams.rows">
                      <img src="img/ionic.png" width="150px">
                    </span>
                   </div>

        ---------------------------------------------------------------------------------------------------------------------->

    <!--<div collection-repeat="datos_cam in listacams.rows | filter: datos_cam[1]=concejo | filter: datos_cam[3]='categoria='+categoria">-->
    <!--
            <div class="row"
                 ng-repeat="datos_cam in listacams.rows"
                 ng-if="$index % 3 === 0" force-refresh-images="true" style="padding:0">
    -->

      <div class="row"
           ng-repeat="datos_cam in listacams_filtrado = ( listacams.rows | filter: (datos_cam[1]=concejo) )"
           ng-if="$index % 3 === 0" force-refresh-images="true" style="padding:0">
listacams_filtrado.length: {{listacams_filtrado.length}}
          <div class="col col-33" ng-if="$index < listacams.rows.length" style="padding:0">
            <a href="{{ listacams.rows[$index][2] }}" target="_blank">
              <!--<img ng-src="{{ listacams.rows[$index][2] }}" width="100%" />-->
              <img src="http://lorempixel.com/400/200/sports/1/" >
            </a>
            <span style="font-size: xx-small">{{ listacams.rows[$index][0] }}</span>

          </div>

          <div class="col col-33" ng-if="$index+1 < listacams.rows.length" style="padding:0">
            <a href="{{ listacams.rows[$index+1][2] }}" target="_blank">
              <!--<img ng-src="{{ listacams.rows[$index+1][2] }}" width="100%" />-->
              <img src="http://lorempixel.com/400/200/sports/1/" >
            </a>
            <span style="font-size: xx-small">{{ listacams.rows[$index+1][0] }}</span>

          </div>

          <div class="col col-33" ng-if="$index+2 < listacams.rows.length" style="padding:0">
            <a href="{{ listacams.rows[$index+2][2] }}" target="_blank">
              <!--<img ng-src="{{ listacams.rows[$index+2][2] }}" width="100%" />-->
              <img src="http://lorempixel.com/400/200/sports/1/" >
            </a>
            <span style="font-size: xx-small">{{ listacams.rows[$index+2][0] }}</span>
          </div>

        </div>



  </ion-content>
</ion-view>
