<ion-view title="Mosaico">
  <ion-content overflow-scroll="true">

    <!--TODO: filtrar por texto introducido por el usuario-->
    <!--TODO: al hacer click en la imagen para ir al detalle-->
    <!--TODO: desactivar la animación al buscar en search bar-->
    <!--TODO: añadir loader en galería-->

    <div class="grid">
      <div class="row" ng-repeat="cam in items"
           ng-if="$index % 3 === 0" force-refresh-images="true" style="padding:0; margin:0px;">


        <ion-item class="col col-33 animated zoomIn" ng-if="$index < items.length" ng-click="showModal(items[$index][4])">
            <!--<img ng-src="{{ items[$index][2] }}" width="100%" />-->
            <img src="http://lorempixel.com/400/200/sports/1/" width="100%" >
            <div style="font-size: xx-small">{{ items[$index][0] }}</div>
        </ion-item>

        <ion-item class="col col-33 animated zoomIn" ng-if="$index+1 < items.length" ng-click="showModal(items[$index+1][4])">
            <!--<img ng-src="{{ items[$index+1][2] }}" width="100%" />-->
            <img src="http://lorempixel.com/400/200/sports/1/" width="100%" >
            <div style="font-size: xx-small">{{ items[$index+1][0] }}</div>
        </ion-item>

        <ion-item class="col col-33 animated zoomIn" ng-if="$index+2 < items.length" ng-click="showModal(items[$index+2][4])">
            <!--<img ng-src="{{ items[$index+2][2] }}" width="100%" />-->
            <img src="http://lorempixel.com/400/200/sports/1/" width="100%" >
            <div style="font-size: xx-small">{{ items[$index+2][0] }}</div>
        </ion-item>


      </div>
    </div>


  </ion-content>
</ion-view>
