<ion-view cache-view="false" view-title="Fotos de la zona">
<ion-content>

  lugar: {{lugar}}
  <style>
  #container {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    /*justify-content: center; /!* align items vertically, in this case *!/*/
    align-items: center; /* align items horizontally, in this case */
  }
  .box {
    margin: 5px;
    text-align: center;
  }
  .modal{ /* full screen */
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    width: 100% ;
  }
  </style>

  <div id="container">
    <div id="divPanoramio" style=""></div>
    <div id="divCreditos"></div>
    <div ng-show="!hayFotos" style="text-align: center">
      No se han encontrado fotos de Panoramio en los alrededores de la ubicación de la cámara
    </div>

    <md-button class="md-raised md-primary" ng-click="showModal()" style="width:80%;height:50px">
      <i class="icon ion-arrow-expand"></i>
      Ampliar
    </md-button>
  </div>

</ion-content>
</ion-view>
