<style type="text/css">
  div.item.item-body {
    text-align: center;
    font-size: small;
    background-color: #f4f4f4;
  }
</style>
<ion-view view-title="Fotos">
<ion-content>

  <style>
  .container {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    /*justify-content: center; /!* align items vertically, in this case *!/*/
    align-items: center; /* align items horizontally, in this case */
  }
  .box {
    margin: 5px;
    text-align: center;
  }
  .modal{ /* full screen */
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    width: 100% ;
  }
  .panoramio-wapi-tos {
    display: none;
    text-align: center;
    width:90%;
  }
  </style>

  <div class="container">

    <div id="divPanoramio"></div>
    <div id="divCreditos"></div>

  </div>



  <div class="card">
    <div class="item item-body">
      {{ ::cam.lugar }}<br/>
      Concejo: {{ ::cam.concejo }}
    </div>
    <!--<div class="item item-body">Concejo: {{ ::cam.concejo }}</div>-->


<!--    <div layout="row" layout-align="space-around center" style="padding:6%">
      <md-button class="md-raised md-primary" ng-click="prevPhoto()"
                 style="width:40%;height:40px" ng-disabled="fotos.getAtStart()">
        <i class="icon ion-arrow-left-a"></i>
        Anterior
      </md-button>
      <md-button class="md-raised md-primary" ng-click="nextPhoto()"
                 style="width:40%;height:40px" ng-disabled="fotos.getAtEnd()">
        <i class="icon ion-arrow-right-a"></i>
        Siguiente
      </md-button>
    </div>

    <div class="container">
      <md-button class="md-raised md-primary" ng-click="showModal()" style="width:80%;height:40px">
        <i class="icon ion-arrow-expand"></i>
        Ampliar
      </md-button>
      <br>
    </div>-->
    <div class="item item-text-wrap" style="padding:0;text-align:center">
      <div class="row">
        <div class="col">
          <button class="button button-calm" ng-click="prevPhoto()" style="width:100%" ng-disabled="fotos.getAtStart()">
            <i class="icon ion-arrow-left-a"></i>
            Anterior
          </button>
        </div>
        <div class="col">
          <button class="button button-calm" ng-click="nextPhoto()" style="width:100%" ng-disabled="fotos.getAtEnd()">
            Siguiente
            <i class="icon ion-arrow-right-a"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm" ng-click="showModal()" style="width:100%">
            <i class="icon ion-arrow-expand"></i>
            Ampliar
          </button>
        </div>
      </div>
    </div>
    <div class="item item-body">
      Fuente: <a href="http://www.panoramio.com" target="_blank">Panoramio</a>
    </div>
<!--
    <div class="item item-body">
      Derechos: propiedad de los autores
    </div>
-->
  </div>
  <div style="text-align: center">
    Imágenes propiedad de los autores
  </div>

</ion-content>
</ion-view>
