<ion-popover-view class="animated flipInX">
  <ion-content>
    <style>
      .popover{
        width: 60%;
        height:40%;
        display: block;
      }
      .smal{font-size: small;}
    </style>
    <div class="list" ng-click="popover.hide()">

      <a href="#/app/mapa" class="item item-icon-left smal">
        <i class="icon ion-android-pin"></i>
        Ver en Mapa
      </a>

      <a href="#/app/streetview" class="item item-icon-left smal">
        <i class="icon ion-ios-navigate"></i>
        Ver en Street View
      </a>

      <a href="#/app/panoramio" class="item item-icon-left smal">
        <i class="icon ion-images"></i>
        Fotos de la zona
      </a>

    </div>

  </ion-content>
</ion-popover-view>
