<ion-popover-view class="animated flipInX">
  <ion-content>
    <style>
      .popover{
        width: 60%;
        height:25%;
        background-color: lightgrey;
      }
      .smal{font-size: small;}
      .blu {color:#387ef5;}
    </style>
    <div class="list" ng-click="popover.hide()">

      <a href="#/app/mapa?lugar={{::lugar}}&concejo={{::concejo}}"
         class="item item-stable item-icon-left item-icon-right smal">
        <i class="icon ion-android-pin"></i>
        Ver en Mapa
        <i class="icon ion-ios-arrow-thin-right blu"></i>
      </a>

      <a href="#/app/streetview?lugar={{::lugar}}&concejo={{::concejo}}"
         class="item item-stable item-icon-left item-icon-right smal">
        <i class="icon ion-ios-navigate"></i>
        Ver en Street View
        <i class="icon ion-ios-arrow-thin-right blu"></i>
      </a>

      <a href="#/app/panoramio?lugar={{::lugar}}&concejo={{::concejo}}"
         class="item item-stable item-icon-left item-icon-right smal">
        <i class="icon ion-images"></i>
        Fotos de la zona
        <i class="icon ion-ios-arrow-thin-right blu"></i>
      </a>

    </div>

  </ion-content>
</ion-popover-view>
