<!--TODO: usar aqui el scroll nativo a ver si se puede hacer scroll-->
<ion-view view-title="Concejos">
  <style type="text/css" scoped>
    iframe {
      width: 100%;
      height: 100%;
      /*noinspection CssUnknownTarget*/
      background: transparent url('img/clock-32x32-3.png') no-repeat center center;
    }
    .pie-diagrama{
      text-align: center;
    }
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="item item-divider">Concejos con más cámaras</div>
    <iframe ng-src="{{ ::urlConcejosMasCams }}" scrolling="yes" marginwidth="0" marginheight="0"
            frameborder="0" allowfullscreen iframe-onload="cargaFrameTerminada()">
    </iframe>

    <div class="item item-divider">Nº webcams por concejo</div>
    <iframe ng-src="{{ ::urlCamsConcejo }}" scrolling="yes" marginwidth="0" marginheight="0"
            frameborder="0" allowfullscreen iframe-onload="cargaFrameTerminada()">
    </iframe>

    <div class="padding pie-diagrama">Toque/click en sectores del diagrama para información específica</div>

  </ion-content>
</ion-view>
