<!--TODO: usar aqui el scroll nativo a ver si se puede hacer scroll-->
<ion-view view-title="Categorías">
  <style type="text/css">
    iframe {
      width: 95%;
      height: 260px;
      background: transparent url(img/c.png) no-repeat center center;
    }
  </style>

  <ion-content id="contenido-graficos" class="animated fadeIn">
    <div class="item item-divider" style="font-size:small">
      Webcams por categoría (Sectores)
    </div>
    <iframe id="iframeGraficoSectores" ng-src="{{ ::urlGraficoSectores }}" scrolling="no" marginwidth="0" marginheight="0"
            frameborder="0" allowfullscreen iframe-onload="cargaFrameTerminada()">
    </iframe>

    <div class="item item-divider" style="font-size:small">
      Webcams por categoría (Barras)
    </div>
    <iframe id="iframeGraficoBarras" ng-src="{{ ::urlGraficoBarras }}" scrolling="no" marginheight="0" marginwidth="0"
            frameborder="0" allowfullscreen iframe-onload="cargaFrameTerminada()">
    </iframe>

    <div style="text-align:center" class="padding">Toque en sectores del diagrama para información específica</div>

  </ion-content>
</ion-view>
