<ion-view view-title="Imágenes Satélite">
  <div class="bar bar-subheader bar-stable">
    <h2 class="title">Región: España</h2>
  </div>

  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item-icon-right item-divider"
                href="http://neige.meteociel.fr/satellite/anim_vis_sp.gif" target="_blank">
        EumetSat<i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

<!--
    <canvas id="canvas"></canvas>
    <canvas id="canvas2" style="width:300px; height: 300px;"></canvas>
    <img data-gifffer="http://neige.meteociel.fr/satellite/anim_ir_color.gif" style="width:100%;height: 70%;"/>
-->





<!--
    <img src="../lib/libgif-js/example_gifs/rub_test_preview.jpg"
         rel:animated_src="../lib/libgif-js/example_gifs/rub_test.gif"
         width="360" height="360" rel:auto_play="1" rel:rubbable="1" />
-->


 <!--   <h1>Example with controls and no auto-play</h1>
    <img id="example1"
         src="./example_gifs/rub_test_preview.jpg" rel:animated_src="./example_gifs/rub_test.gif" rel:auto_play="0"
         width="467" height="375" />
    <br>
    <script type="text/javascript">
      var sup1 = new SuperGif({ gif: document.getElementById('example1') } );
      sup1.load();
    </script>
    <a href="javascript:;" onmousedown="sup1.pause(); return false;">Pause</a> |
    <a href="javascript:;" onmousedown="sup1.play(); return false;">Play</a> |
    <a href="javascript:;" onmousedown="sup1.move_to(0); return false;">Restart</a> |
    <a href="javascript:;" onmousedown="sup1.move_relative(1); return false;">Step forward</a> |
    <a href="javascript:;" onmousedown="sup1.move_relative(-1); return false;">Step back</a>

-->


  </ion-content>

</ion-view>
