<ion-view view-title="Imágenes Satélite" xmlns:rel="http://www.w3.org/1999/xhtml">
  <div class="bar bar-subheader bar-stable">
    <h2 class="title">Región: España</h2>
  </div>

  <ion-content class="has-subheader">

    <ion-list>
      <ion-item class="item-icon-right item-divider" href="#/app/meteo-player">
        EumetSat<i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right item-divider">
        EumetSat2<i class="icon ion-chevron-right"></i>
      </ion-item>

    </ion-list>

 <!-------------------------------------------------------------------------------------------------------------------->
<!--
    <x-gif id="xgif" stopped src="http://neige.meteociel.fr/satellite/anim_ir_color.gif"></x-gif>
    <button ng-click="play()">Reproducir</button> <button ng-click="pause()">Detener</button>
-->
<!-------------------------------------------------------------------------------------------------------------------->



    <!-------------------------------------------------------------------------------------------------------------------->



  </ion-content>

</ion-view>
