<ion-view view-title="Imágenes Satélite" xmlns:rel="http://www.w3.org/1999/xhtml">
  <div class="bar bar-subheader bar-stable">
    <h2 class="title">Región: España</h2>
  </div>

  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item-icon-right item-divider"
                href="http://neige.meteociel.fr/satellite/anim_vis_sp.gif" target="_blank">
        EumetSat<i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>



<!--
    <img src="../lib/libgif-js/example_gifs/rub_test_preview.jpg"
         rel:animated_src="../lib/libgif-js/example_gifs/rub_test.gif"
         width="360" height="360" rel:auto_play="1" rel:rubbable="1" />
-->


    <h1>Example with controls and no auto-play</h1>
    <img id="gif" src="../lib/libgif-js/example_gifs/rub_test_preview.jpg"
         rel:animated_src="../lib/libgif-js/example_gifs/rub_test.gif" rel:auto_play="0"
         width="467" height="375" />
    <br>
    <a href="#" ng-click="play()">Reproducir</a> |
    <a href="#" ng-click="pause()">Detener</a> |
    <a href="#" ng-click="restart()">Inicio</a> |
    <a href="#" ng-click="forward()">Adelante1 </a> |
    <a href="#" ng-click="backward()">Atrás1</a>


  </ion-content>

</ion-view>
