<ion-view view-title="Search">
  <ion-content lazy-scroll>


    <style>
      .myslides {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        height: 500px;
        border-bottom: 1px solid gray;
      }
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: grey url('http://www.broadwaybalancesamerica.com/images/ajax-loader.gif') no-repeat center;
      }
      .swiper-slide .slide-img {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>

      <div class="myslides" ng-controller="SearchCtrl">
        <ks-swiper-container initial-slide="2" swiper="swiper" on-ready="onReadySwiper(swiper)" override-parameters="options">
          <ks-swiper-slide class="swiper-slide" ng-repeat="slide in generateSlides(200) track by $index">
            <div class="slide-img" ng-if="activeThree.indexOf($index+1) > -1"
                 style="background-image: url('http://loremflickr.com/500/500?random={{$index+1}}')"></div>
          </ks-swiper-slide>
        </ks-swiper-container>
        <button ng-click="prev()">Prev</button>
        <button ng-click="next()">Next</button>
      </div>

<!--
    <style>
      .swiper-container {
        width: 500px;
        height: 300px;
        margin: 20px auto;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    </style>
-->
<!--
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
        <div class="swiper-slide">Slide 10</div>
      </div>
    </div>


    <script>
      var swiper = new Swiper('.swiper-container');
      console.log('swiper', swiper);
    </script>
-->

    <img image-lazy-src="http://loremflickr.com/500/500?random=2" width="90%" height="90%"  image-lazy-loader="lines">

  </ion-content>
</ion-view>
