<ion-view view-title="Search">
  <ion-content>

PRUEBA:
<!--    <div>
      <input placeholder="filter" ng-model="f" />
    </div>
    <div ng-repeat="item in items | filter:f" class="repeat-animation"
         ng-class-even="'left'" ng-class-odd="'right'">
      {{ item }}
    </div>-->

    <hr>

    PRUEBA 2:<br>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right chat-item"
                ng-repeat="chat in chats" type="item-text-wrap"
                href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>





<!--
    <div class="repeat-animation">Search</div>
    <h1 class="repeat-animation">Search</h1>
    <h1 class="repeat-animation">Search</h1>
    <h1 class="repeat-animation">Search</h1>

    <div class="list card animated bounceInLeft">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card animated bounceInRight">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card animated infinite tada">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
-->


  </ion-content>
</ion-view>
