<ion-view view-title="Estadísticas">
  <style type="text/css">
    .item > .icon {font-size: 25px; vertical-align: text-top; color:#387ef5;}
    @media (min-width: 720px) {
      ion-content#conteido-stats {background-color: ghostwhite;}
      #lista-stats > div.list {
        width: 80%;
        margin: 32px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  </style>

  <ion-content id="conteido-stats">
    <ion-list id="lista-stats">
      <ion-item class="item-divider icon-left">
        <i class="icon ion-pie-graph"></i> Gráficos
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_categoria">
        Webcams por categoría<i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_concejo">
        Webcams por concejo<i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider icon-leftt">
        <i class="icon ion-map"></i> Mapa
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/heatmap">
        Distribución webcams<i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


