<ion-view view-title="Estadísticas">
  <ion-content>
    <style type="text/css">
      .icon {
        font-size: 25px;
        vertical-align: text-top;
      }
    </style>

    <ion-list>
      <ion-item class="item-divider icon-left">
        <i class="icon ion-pie-graph"></i>
        Gráficos
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_categoria">
        Webcams por categoría
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_concejo">
        Webcams por concejo
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item-divider icon-leftt">
        <i class="icon ion-map"></i>
        ´Mapa
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/heatmap">
        Distribución webcams
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


