<ion-view view-title="Estadísticas">
  <ion-content>

    <ion-list>
      <ion-item class="item-divider">
        ´Gráficos
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_categoria">
        Webcams por categoría
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/por_concejo">
        Webcams por concejo
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item-divider">
        ´Mapa
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/heatmap">
        Distribución webcams
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


