<!--suppress HtmlUnknownTarget -->
<ion-view view-title="Street View">
  <style type="text/css">
    #street-view{width: 100%; height: 70%}
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="loading-icon"><img class="rotate-center" src="img/clock-32x32-3.png"/></div>
    <div id="street-view" data-tap-disabled="true"></div>
    <div class="card">
      <div class="item item-text-wrap">{{ ::cam.lugar }}</div>
      <div class="item item-text-wrap">Concejo: {{ ::cam.concejo }}</div>
    </div>
    <div class="centered">(Ubicación aproximada)</div>
  </ion-content>
</ion-view>
