<ion-view view-title="Street View" cache-view="false">
  <!--<ion-content header-shrink scroll-event-interval="1">-->
  <ion-content>

    <style>
      .scroll {
        height: 100%;
      }
      #mapa{background: transparent url(../img/c.png) no-repeat center center;}
    </style>

    <div id="street-view" data-tap-disabled="true" style="width: 100%; height: 60%;"></div>
    <div id="floating-panel">
      <input type="button" value="Mapa" ng-click=""/>
    </div>
    <p>Lugar: {{lugar}}</p>
    <p>Concejo: {{Concejo}}</p>
    <div>(Ubicación aproximada)</div>


  </ion-content>
</ion-view>
