<ion-view>
  <!--TODO: añadir pestaña carrousel-->
  <ion-nav-view name="tab-listado"></ion-nav-view>

  <ion-tabs class="tabs-icon-top tabs-calm">

    <!-- TAB LISTADO -------------------------------------------------------------------------------------------------->

    <ion-tab title="Listado" icon="ion-ios-paper"
             href="#/app/tabs/listado?concejo={{concejo}}&idCategoria={{idCategoria}}">

    </ion-tab>

    <!-- TAB MOSAICO -------------------------------------------------------------------------------------------------->

    <ion-tab title="Mosaico" icon="ion-grid"
             href="#/app/tabs/mosaico?concejo={{concejo}}&idCategoria={{idCategoria}}">
      <ion-nav-view name="tab-mosaico"></ion-nav-view>
    </ion-tab>


  </ion-tabs>

</ion-view>

