<ion-view view-title="Viento">
  <style type="text/css">
    #mapaviento {
      width: 100%;
      height: 90%;
      background: transparent url(img/clock-32x32-3.png) no-repeat center center;
    }
    @media (min-width: 720px) {
      #mapaviento {
        width: 75%;
        padding-top: 50px;
        margin: auto;
      }
    }
    .content{
      text-align: center;
    }

    .fuente {
      padding: 10px;
      text-align: center;
      width: 100%;
      margin: auto;
    }
  </style>
  <ion-content class="content">
    <iframe id="mapaviento" ng-src="https://embed.windyty.com/?40.4,-3.7,5,metric.wind.km/h"
            scrolling="no" marginwidth="0" marginheight="0" allowfullscreen frameborder="0"
            iframe-onload="cargaFrameTerminada()">
    </iframe>
    <div class="fuente">Fuente: <a href="http://www.windyty.com" target="_blank">windyty.com</a></div>
  </ion-content>
</ion-view>
