<!--todo: busqueda con google places-->
<!--todo: al hacer click en un select box, inicializar a vacio el otro-->

<ion-view view-title="Mapa Global">
  <style>
    .label-content {width: 100%; font-size: small}
    .ico-funnel-content {font-family: sans-serif; color: lightslategrey; vertical-align: top; padding: 6% 6% 2%}
    .ico-funnel {font-size: 20px; padding: 5px; vertical-align: middle}
    .container-btn-todas {text-align: center}
    .btn-todas {width: 50%}
    .color-blue {color: #007aff !important}
    #mapaglobal{
      /*noinspection CssUnknownTarget*/
      background: transparent url('img/clock-32x32-3.gif') no-repeat center center;
      width: 100%; height: 70%;
     }
    @media (min-width: 720px){
      #responsive-container{width: 70%; margin: 32px auto}
    }
  </style>

  <ion-nav-buttons side="left">
    <button ng-if="screenWidth < 760" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>

    <!--<div id="mapaglobal" data-tap-disabled="true"></div>-->
    <div id="mapaglobal"></div>

    <div id="responsive-container">

      <div class="ico-funnel-content"><i class="icon icon-left ion-android-funnel ico-funnel"></i>Filtrar por:</div>


        <div onClick="window.alert('click on div')">div</div>
        <select onClick="window.alert('hola')">
          <option>option1</option>
        </select>


      <div class="list item-input-inset">
        <label class="item item-input item-select label-content">
          <i class="icon ion-arrow-right-a color-blue" ng-show="checked==='cat'"></i> Categoría:
          <select id="selectCategoria" class="color-blue" ng-model="categoria" ng-change="categoriaEscogida(categoria)">
            <option ng-repeat="categoria in categorias" value="{{ categoria[0] }}">
              {{ urlCategoria_a_nombre( categoria[0] )}}
            </option>
          </select>
        </label>
      </div>


      <div class="list item-input-inset">
        <label class="item item-input item-select label-content">
          <i class="icon ion-arrow-right-a color-blue" ng-show="checked==='con'"></i> Concejo:
          <select id="selectConcejo" class="color-blue" ng-model="concejo" ng-change="concejoEscogido(concejo)">
            <option ng-repeat="concejo in concejos">{{ concejo[0] }}</option>
          </select>
        </label>
      </div>

      <div class="container-btn-todas">
        <button class="button button-calm btn-todas" ng-click="mostrarTodas()">Mostrar Todas</button>
      </div>

    </div>

    <br/><br/><br/>

    <!-- Radio buttons que controlan el filtrado, ocultos por defecto -->
    <div class="hide">
      <ion-radio ng-model="checked" ng-value="'con'">Concejo:</ion-radio>
      <ion-radio ng-model="checked" ng-value="'cat'">Categoría:</ion-radio>
    </div>

  </ion-content>
</ion-view>


