<ion-view view-title="{{ tituloVista }}" cache-view="true">
  <style type="text/css">
    /*noinspection CssUnknownTarget*/
    /*.imgLoader{background: transparent url(img/clock-32x32-3.png) no-repeat center center; cursor: pointer}*/
    .txt {font-size: xx-small; overflow: hidden; text-overflow: ellipsis; text-align: center}
    .itemCam {padding: 0; border-width: 0; border-style: none}
    .item-padd{border: 0}
    .icon-badge {vertical-align: sub; margin-top: 4px; margin-bottom: 4px; padding-top: 4px}
    @media (min-width: 720px) {
      #contenido-mosaico{background-color: ghostwhite}
      div.grid {width: 90%; margin: 32px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  </style>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <div style="margin-left: 7px">
        <span class="badge badge-calm icon-badge">{{ items.length }}</span>
      </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button ng-if="screenWidth < 760" menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
      <a class="button button-icon icon ion-ios-search-strong" href="#/app/buscar" title="Buscar"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content id="contenido-mosaico">
    <div class="grid">
      <div class="row" ng-repeat="cam in items track by cam[4]" ng-if="$index % 3 === 0" style="padding:0; margin:0;">

        <ion-item class="item-padd col col-33" ng-if="$index < items.length">
          <a href="#/app/detalle/{{ items[$index][4] }}" class="item itemCam imgLoader">
            <img ng-src="{{ items[$index][2] }}" fallback-src="img/imgFail.png" width="100%"/>
            <!--<img ng-src="img/imgFail.png" fallback-src="img/imgFail.png" width="100%"/>-->
            <div class="txt">{{ items[$index][0] }}</div>
          </a>
        </ion-item>

        <ion-item class="item-padd col col-33" ng-if="$index+1 < items.length" ng-click="showModal($index+1)">
          <a href="#/app/detalle/{{ items[$index+1][4] }}" class="item itemCam">
            <img ng-src="{{ items[$index+1][2] }}" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>
            <!--<img ng-src="img/imgFail.png" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>-->
            <div class="txt">{{ items[$index+1][0] }}</div>
          </a>
        </ion-item>

        <ion-item class="item-padd col col-33" ng-if="$index+2 < items.length" ng-click="showModal($index+2)">
          <a href="#/app/detalle/{{ items[$index+2][4] }}" class="item itemCam">
            <img ng-src="{{ items[$index+2][2] }}" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>
            <!--<img ng-src="img/imgFail.png" fallback-src="img/imgFail.png" width="100%" class="imgLoader"/>-->
            <div class="txt">{{ items[$index+2][0] }}</div>
          </a>
        </ion-item>

      </div>
    </div>
  </ion-content>
</ion-view>

