.enlaceListado{border: 2px outset}
.resalteListado{color:#28a54c}
.textoListado {font-size:small}

.scale-in {-webkit-transform: scale(0.0);transform: scale(0.0);opacity: 0}
.scale-in.ng-enter,
.scale-in > .ng-enter {-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {-webkit-transform: scale(1); transform: scale(1); opacity: 1}
.scale-in.ng-leave,
.scale-in > .ng-leave {-webkit-transition: all ease-in-out 250ms; transition: all ease-in-out 250ms}
.sombraInferior{box-shadow: -1px 1px 5px #888888}
.cargando{text-align: center; margin-top: 65%}

/* SCROLLBARS ------------------------------------------------------------------------- */

body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-face-color: darkgrey;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
::-webkit-scrollbar {width: 5px; height: 3px}
::-webkit-scrollbar-button {background-color: darkgrey}
::-webkit-scrollbar-track {background-color: lightgrey}
::-webkit-scrollbar-track-piece {background-color: lightgrey}
::-webkit-scrollbar-thumb {height: 50px; background-color: darkgrey; border-radius: 3px}
::-webkit-scrollbar-corner {background-color: #999}
::-webkit-resizer {background-color: #666}
