/* todo: scale-in animation: use linear curve for simplicity */
@media (min-width: 720px) {
  .responsive-page {width: 80%; margin: 32px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}
  .card {width: 80%; margin: 32px auto}
}
.img-cam {height: 64px !important; width: 72px !important; top: 6px !important;
  background: transparent url('../img/clock-32x32-3.png') no-repeat center center}
.imgLoader{background: transparent url('../img/clock-32x32-3.png') no-repeat center center; cursor: pointer}
.centered {text-align: center}
.sombraInferior{box-shadow: -1px 1px 5px #888888}
.cargando{text-align: center; margin-top: 65%}
.loader {position: absolute; text-align: center; width: 100%; top: 30%; z-index: -1}
.loader2 {position: relative; top: 25%; left: 45%; z-index: -1}
.loader3 {position: absolute; width: 100%; top: 225px; z-index: -1}
.pad-10 {padding: 10px}
.pad-5 {padding: 5px}
.marg-10 {margin: 10px}
.azul {color: #387ef5}
.verde {color: #28a54c}
.bg-blue {background: cornflowerblue}
.txt-info {color: cornflowerblue; text-align: center}
.cam-counter-left {background: #11c1f3; display: block; width: 25px; text-align: center; padding: 1px;
  margin: auto 4px; border-radius: 3px}
/* ANIMATIONS --------------------------------------------------------------------------- */
/* Fade in */
.fade-in {-webkit-animation: fade 0.4 ease both; animation: fade 0.4s ease both}
@-webkit-keyframes fade {from {opacity: 0 } to { opacity: 1 }}
@keyframes fade {from {opacity: 0 } to { opacity: 1 }}
/* Rotate Center */
.rotate-center{-webkit-animation:rotate-center .6s linear .3s 8 both;animation:rotate-center .6s linear .3s 8 both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
/* Scale to left */
.scale-up-tr{-webkit-animation:scale-up-tr .2s both;animation:scale-up-tr .2s both}
@-webkit-keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
@keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
/* SCROLLBARS ------------------------------------------------------------------------- */
body{
scrollbar-base-color: #C0C0C0; scrollbar-face-color: darkgrey; scrollbar-3dlight-color: #C0C0C0;
scrollbar-highlight-color: #C0C0C0; scrollbar-track-color: #EBEBEB; scrollbar-arrow-color: black;
scrollbar-shadow-color: #C0C0C0; scrollbar-dark-shadow-color: #C0C0C0;
}
::-webkit-scrollbar {width: 5px; height: 3px} ::-webkit-scrollbar-button {background-color: darkgrey}
::-webkit-scrollbar-track {background-color: lightgrey} ::-webkit-scrollbar-track-piece {background-color: lightgrey}
::-webkit-scrollbar-thumb {height: 50px; background-color: darkgrey; border-radius: 3px}
::-webkit-scrollbar-corner {background-color: #999} ::-webkit-resizer {background-color: #666}
